<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yatang.sc.order.dao.OrderPaymentsDao" >
  <resultMap id="BaseResultMap" type="com.yatang.sc.order.domain.OrderPayments" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="payment_group_id" property="paymentGroupId" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="Base_Column_List" >
    id, order_id, payment_group_id
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from scp_order_payments
    where id = #{id,jdbcType=BIGINT}
  </select>


  <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from scp_order_payments
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from scp_order_payments
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yatang.sc.order.domain.OrderPayments" >
    <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
      SELECT LAST_INSERT_ID();
    </selectKey>
    insert into scp_order_payments ( order_id, payment_group_id
      )
    values ( #{orderId,jdbcType=VARCHAR}, #{paymentGroupId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yatang.sc.order.domain.OrderPayments" >
    insert into scp_order_payments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="paymentGroupId != null" >
        payment_group_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="paymentGroupId != null" >
        #{paymentGroupId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yatang.sc.order.domain.OrderPayments" >
    update scp_order_payments
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="paymentGroupId != null" >
        payment_group_id = #{paymentGroupId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yatang.sc.order.domain.OrderPayments" >
    update scp_order_payments
    set order_id = #{orderId,jdbcType=VARCHAR},
      payment_group_id = #{paymentGroupId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  

</mapper>