<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yatang.sc.order.dao.PromotionDao">
	<resultMap id="baseResultMap" type="com.yatang.sc.order.domain.PromotionPo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="promotion_type" property="promotionType"
			jdbcType="VARCHAR" />
		<result column="promotion_name" property="promotionName"
			jdbcType="VARCHAR" />
		<result column="promotion_discription" property="promotionDiscription"
			jdbcType="VARCHAR" />
		<result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
		<result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
		<result column="discount_type" property="discountType"
			jdbcType="VARCHAR" />
		<result column="quanify_amount" property="quanifyAmount"
			jdbcType="DECIMAL" />
		<result column="discount" property="discount" jdbcType="DECIMAL" />
		<result column="note" property="note" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="is_superpose_user_discount" property="isSuperposeUserDiscount"
			jdbcType="TINYINT" />
		<result column="is_superpose_proOrCou_discount" property="isSuperposeProOrCouDiscount"
				jdbcType="TINYINT" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
		<result column="publish_date" property="publishDate" jdbcType="TIMESTAMP"/>
		<result column="pulish_user_id" property="publishUserId" jdbcType="VARCHAR"/>
		<result column="promotion_rule_json" property="promotionRuleJson" jdbcType="VARCHAR"/>
		<result column="priority" property="priority" jdbcType="BIGINT"/>
		<result column="simpleDescription" property="simpleDescription" jdbcType="VARCHAR"/>
		<result column="detailDescription" property="detailDescription" jdbcType="VARCHAR"/>

		<association property="promoCategoriesPo"
			javaType="com.yatang.sc.order.domain.PromoCategoriesPo" column="id"
			select="com.yatang.sc.order.dao.PromoCategoriesDao.queryByPromoId">
		</association>
		<association property="stores"
			javaType="com.yatang.sc.order.domain.PromoStoresPo" column="id"
			select="com.yatang.sc.order.dao.PromoStoresDao.queryByPromoId">
		</association>
		<collection property="companiesPoList"
			ofType="com.yatang.sc.order.domain.PromoCompaniesPo" column="id"
			select="com.yatang.sc.order.dao.PromoCompaniesPoDao.queryByPromoId">
		</collection>
	</resultMap>

	<resultMap id="queryPromotionList" type="com.yatang.sc.order.domain.PromotionPo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="promotion_type" property="promotionType"
			jdbcType="VARCHAR" />
		<result column="promotion_name" property="promotionName"
			jdbcType="VARCHAR" />
		<result column="promotion_discription" property="promotionDiscription"
			jdbcType="VARCHAR" />
		<result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
		<result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
		<result column="discount_type" property="discountType"
			jdbcType="VARCHAR" />
		<result column="quanify_amount" property="quanifyAmount"
			jdbcType="DECIMAL" />
		<result column="discount" property="discount" jdbcType="DECIMAL" />
		<result column="note" property="note" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="is_superpose_user_discount" property="isSuperposeUserDiscount"
			jdbcType="TINYINT" />
		<result column="is_superpose_proOrCou_discount" property="isSuperposeProOrCouDiscount"
				jdbcType="TINYINT" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
		<result column="publish_date" property="publishDate" jdbcType="TIMESTAMP"/>
		<result column="pulish_user_id" property="publishUserId" jdbcType="VARCHAR"/>
		<result column="promotion_rule_json" property="promotionRuleJson" jdbcType="VARCHAR"/>
		<result column="priority" property="priority" jdbcType="BIGINT"/>
		<result column="simpleDescription" property="simpleDescription" jdbcType="VARCHAR"/>
		<result column="detailDescription" property="detailDescription" jdbcType="VARCHAR"/>

		<association property="promoCategoriesPo"
			javaType="com.yatang.sc.order.domain.PromoCategoriesPo" column="id"
			select="com.yatang.sc.order.dao.PromoCategoriesDao.queryByPromoId">
		</association>
		<association property="stores"
		    javaType="com.yatang.sc.order.domain.PromoStoresPo" column="id"
		    select="com.yatang.sc.order.dao.PromoStoresDao.queryByPromoId">
		</association>
		<collection property="companiesPoList"
			ofType="com.yatang.sc.order.domain.PromoCompaniesPo" column="id"
			select="com.yatang.sc.order.dao.PromoCompaniesPoDao.queryByPromoId">
		</collection>
		<collection property="recordsPoList"
			ofType="com.yatang.sc.order.domain.PromoRecordsPo" column="id"
			select="com.yatang.sc.order.dao.PromoRecordsDao.queryByPromoId">
		</collection>
	</resultMap>
	<!-- 可用优惠券 start -->
	<resultMap id="availableCouponActivityPoMap" type="com.yatang.sc.order.domain.AvailableCouponActivityPo">
		<id column="coupon_activity_id" property="couponActivityId" jdbcType="VARCHAR" />
		<id column="coupon_id" property="couponId" jdbcType="VARCHAR" />
		<result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
		<result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
		<result column="discount_type" property="discountType" jdbcType="VARCHAR" />
		<result column="quanify_amount" property="quanifyAmount" jdbcType="DECIMAL" />
		<result column="discount" property="discount" jdbcType="DECIMAL" />
		<result column="category_name" property="categoryName" jdbcType="VARCHAR" />
	</resultMap>
	<select id="queryAvailableCouponActivity" parameterType="java.lang.String" resultMap="availableCouponActivityPoMap">
		SELECT
		c.id coupon_activity_id,p.id coupon_id,p.start_date,p.end_date,p.quanify_amount,p.discount,p.discount_type
		FROM

		scp_coupon_activity c left join scp_promotion p on c.promo_id=p.id
		WHERE  c.store_id= #{storeId,jdbcType=VARCHAR}
		AND c.state='active'
		AND p.status = 'released'
		AND NOW() BETWEEN p.start_date AND p.end_date
		ORDER BY p.discount DESC
	</select>
	<!-- 可用优惠券 end -->
	<sql id="Base_Column_List">
		id, status, promotion_type, promotion_name,
		promotion_discription,start_date,end_date,discount_type,quanify_amount,discount,note,type,is_superpose_user_discount,is_superpose_proOrCou_discount,
		create_date,create_user_id,publish_date,publish_user_id,promotion_rule_json,priority,simpleDescription,detailDescription
	</sql>

	<select id="queryById" parameterType="java.lang.String"
		resultMap="baseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM scp_promotion
		WHERE id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="listPromotions" parameterType="com.yatang.sc.order.domain.PromoQueryConditionPo"
		resultMap="queryPromotionList">
		SELECT
		<include refid="Base_Column_List" />
		FROM scp_promotion sp
		<if test="branchCompanyId != null">
			INNER JOIN
			(
			SELECT promo_id FROM scp_promo_companies WHERE company_id = #{branchCompanyId,jdbcType=VARCHAR}
			UNION ALL
			SELECT sp1.id FROM scp_promotion sp1 LEFT JOIN scp_promo_companies sc
			ON sp1.id = sc.promo_id WHERE sc.company_id IS NULL
			) t1 ON sp.id = t1.promo_id
		</if>
		<where>
			1=1
			AND sp.type = 0
			<if test="id != null">
				AND sp.id = #{id,jdbcType=VARCHAR}
			</if>
			<if test="promotionName != null">
				AND sp.promotion_name LIKE
				CONCAT('%',(#{promotionName,jdbcType=VARCHAR}),'%')
			</if>
			<if test="startDate != null and endDate != null">
				AND <![CDATA[ date_format(sp.end_date,'%Y-%m-%d %H:%i') >= date_format(#{startDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i') ]]>
				AND <![CDATA[ date_format(sp.start_date,'%Y-%m-%d %H:%i') <= date_format(#{endDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i') ]]>
			</if>
			<!-- 用于查询已结束状态的优惠券-->
			<if test="startDate == null and endDate != null">
				AND <![CDATA[ date_format(sp.end_date,'%Y-%m-%d %H:%i') <= date_format(#{endDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i') ]]>
			</if>
			<!-- 用于查询未结束状态的优惠券-->
			<if test="startDate != null and endDate == null">
				AND <![CDATA[ date_format(sp.end_date,'%Y-%m-%d %H:%i') >= date_format(#{startDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i') ]]>
			</if>
			<if test="status != null">
				AND sp.status = #{status,jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY sp.create_date DESC
	</select>

	<select id="listAvailablePromotions" resultMap="baseResultMap"
		parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM scp_promotion
		WHERE status = 'released' AND type=0 AND
		promotion_type=#{promoType,jdbcType=VARCHAR}
		AND <![CDATA[ now() >= start_date ]]>
		AND <![CDATA[ now() <= end_date  ]]>
		order by create_date desc
	</select>



	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM scp_promotion
		WHERE id = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.yatang.sc.order.domain.PromotionPo">
		INSERT INTO scp_promotion
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="promotionType != null">
				promotion_type,
			</if>
			<if test="promotionName != null">
				promotion_name,
			</if>
			<if test="promotionDiscription != null">
				promotion_discription,
			</if>
			<if test="startDate != null">
				start_date,
			</if>
			<if test="endDate != null">
				end_date,
			</if>
			<if test="discountType != null">
				discount_type,
			</if>
			<if test="quanifyAmount != null">
				quanify_amount,
			</if>
			<if test="discount != null">
				discount,
			</if>
			<if test="note != null">
				note,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="isSuperposeUserDiscount != null">
				is_superpose_user_discount,
			</if>
			<if test="isSuperposeProOrCouDiscount != null">
				is_superpose_proOrCou_discount,
			</if>
			<if test="createUserId !=null">
				create_user_id,
			</if>
			<if test="createDate !=null">
				create_date,
			</if>
			<if test="publishUserId !=null">
				publish_user_id,
			</if>
			<if test="promotionRuleJson !=null">
				promotion_rule_json,
			</if>
			<if test="priority !=null">
				priority,
			</if>
			<if test="simpleDescription !=null">
				simpleDescription,
			</if>
			<if test="detailDescription !=null">
				detailDescription,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="promotionType != null">
				#{promotionType,jdbcType=VARCHAR},
			</if>
			<if test="promotionName != null">
				#{promotionName,jdbcType=VARCHAR},
			</if>
			<if test="promotionDiscription != null">
				#{promotionDiscription,jdbcType=VARCHAR},
			</if>
			<if test="startDate != null">
				#{startDate,jdbcType=TIMESTAMP},
			</if>
			<if test="endDate != null">
				#{endDate,jdbcType=TIMESTAMP},
			</if>
			<if test="discountType != null">
				#{discountType,jdbcType=VARCHAR},
			</if>
			<if test="quanifyAmount != null">
				#{quanifyAmount,jdbcType=DECIMAL},
			</if>
			<if test="discount != null">
				#{discount,jdbcType=DECIMAL},
			</if>
			<if test="note != null">
				#{note,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="isSuperposeUserDiscount != null">
				#{isSuperposeUserDiscount,jdbcType=TINYINT},
			</if>
			<if test="isSuperposeProOrCouDiscount != null">
				#{isSuperposeProOrCouDiscount,jdbcType=TINYINT},
			</if>
			<if test="createUserId !=null">
				#{createUserId,jdbcType=VARCHAR},
			</if>
			<if test="createDate !=null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="publishUserId !=null">
				#{publishUserId,jdbcType=VARCHAR},
			</if>
			<if test="publishDate !=null">
				#{publishDate,jdbcType=TIMESTAMP},
			</if>
			<if test="promotionRuleJson !=null">
				#{promotionRuleJson,jdbcType=VARCHAR},
			</if>
			<if test="priority !=null">
				#{priority,jdbcType=BIGINT},
			</if>
			<if test="simpleDescription !=null">
				#{simpleDescription,jdbcType=TIMESTAMP},
			</if>
			<if test="detailDescription !=null">
				#{detailDescription,jdbcType=TIMESTAMP},
			</if>


		</trim>
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.yatang.sc.order.domain.PromotionPo">
		UPDATE scp_promotion
		<set>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="promotionType != null">
				promotion_type = #{promotionType,jdbcType=VARCHAR},
			</if>
			<if test="promotionName != null">
				promotion_name = #{promotionName,jdbcType=VARCHAR},
			</if>
			<if test="promotionDiscription != null">
				promotion_discription = #{promotionDiscription,jdbcType=VARCHAR},
			</if>
			<if test="startDate != null">
				start_date = #{startDate,jdbcType=TIMESTAMP},
			</if>
			<if test="endDate != null">
				end_date = #{endDate,jdbcType=TIMESTAMP},
			</if>
			<if test="discountType != null">
				discount_type = #{discountType,jdbcType=VARCHAR}
			</if>
			<if test="quanifyAmount != null">
				quanify_amount = #{quanifyAmount,jdbcType=DECIMAL}
			</if>
			<if test="discount != null">
				discount = #{discount,jdbcType=DECIMAL}
			</if>
			<if test="note != null">
				note = #{note,jdbcType=VARCHAR}
			</if>
			<!--<if test="type != null"> note = #{type,jdbcType=VARCHAR} </if> -->
			<if test="isSuperposeUserDiscount != null">
				is_superpose_user_discount = #{isSuperposeUserDiscount,jdbcType=TINYINT},
			</if>
			<if test="isSuperposeProOrCouDiscount != null">
				is_superpose_proOrCou_discount=#{isSuperposeProOrCouDiscount,jdbcType=TINYINT},
			</if>
			<if test="createUserId !=null">
				create_user_id=#{createUserId,jdbcType=VARCHAR},
			</if>
			<if test="createDate !=null">
				create_date=#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="publishUserId !=null">
				publish_user_id=#{publishUserId,jdbcType=VARCHAR},
			</if>
			<if test="publishDate !=null">
				publish_date=#{publishDate,jdbcType=TIMESTAMP}
			</if>
		</set>
		WHERE id = #{id,jdbcType=VARCHAR}
	</update>

	<select id="queryAvailablePromotions" resultMap="baseResultMap"
			parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM scp_promotion sp
		<if test="branchCompanyId != null">
			INNER JOIN
			(
			SELECT promo_id FROM scp_promo_companies WHERE company_id = #{branchCompanyId,jdbcType=VARCHAR}
			UNION ALL
			SELECT sp1.id FROM scp_promotion sp1 LEFT JOIN scp_promo_companies sc
			ON sp1.id = sc.promo_id WHERE sc.company_id IS NULL
			) t1 ON sp.id = t1.promo_id
		</if>
		WHERE status = 'released' AND type=0
		<if test="promoType != null">
			AND sp.promotion_type = #{promoType,jdbcType=VARCHAR}
		</if>
		AND <![CDATA[ now() >= start_date ]]>
		AND <![CDATA[ now() <= end_date  ]]>

	</select>

	<!--批量改变活动或者优惠券的状态-->
	<update id="batchUpdatePromoStatus">
		update scp_promotion
		SET
		status = #{status,jdbcType=VARCHAR}
		WHERE ID in (
		<foreach collection="ids" item="item" separator=",">
			#{item}
		</foreach>
		)
	</update>
</mapper>