<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yatang.sc.order.dao.WishListDao" >
  <resultMap id="BaseResultMap" type="com.yatang.sc.order.domain.WishListPo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="branch_company_id" property="branchCompanyId" jdbcType="VARCHAR" />
    <result column="branch_company_name" property="branchCompanyName" jdbcType="VARCHAR" />
    <result column="gb_code" property="gbCode" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="total_quantity" property="totalQuantity" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="complete_time" property="completeTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="product_img" property="productImg" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, branch_company_id, gb_code, product_code, product_name, total_quantity, create_time, 
    complete_time, status, product_img,branch_company_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sc_wish_list
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sc_wish_list
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yatang.sc.order.domain.WishListPo" >
    <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
      SELECT LAST_INSERT_ID();
    </selectKey>
    insert into sc_wish_list (id, branch_company_id, gb_code,
      product_code, product_name, total_quantity, 
      create_time, complete_time, status, product_img,branch_company_name
      )
    values (#{id,jdbcType=BIGINT}, #{branchCompanyId,jdbcType=VARCHAR}, #{gbCode,jdbcType=VARCHAR}, 
      #{productCode,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{totalQuantity,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{completeTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR},
      #{productImg,jdbcType=VARCHAR},#{branchCompanyName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yatang.sc.order.domain.WishListPo" >
    insert into sc_wish_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="branchCompanyId != null" >
        branch_company_id,
      </if>
      <if test="gbCode != null" >
        gb_code,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="totalQuantity != null" >
        total_quantity,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="completeTime != null" >
        complete_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="productImg != null" >
        product_img,
      </if>
      <if test="branchCompanyName != null" >
        branch_company_name,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="branchCompanyId != null" >
        #{branchCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="gbCode != null" >
        #{gbCode,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="totalQuantity != null" >
        #{totalQuantity,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeTime != null" >
        #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="productImg != null" >
        #{productImg,jdbcType=VARCHAR},
      </if>
      <if test="branchCompanyName != null" >
        #{branchCompanyName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yatang.sc.order.domain.WishListPo" >
    update sc_wish_list
    <set >
      <if test="branchCompanyId != null" >
        branch_company_id = #{branchCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="gbCode != null" >
        gb_code = #{gbCode,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="totalQuantity != null" >
        total_quantity = #{totalQuantity,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeTime != null" >
        complete_time = #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="productImg != null" >
        product_img = #{productImg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yatang.sc.order.domain.WishListPo" >
    update sc_wish_list
    set branch_company_id = #{branchCompanyId,jdbcType=VARCHAR},
      gb_code = #{gbCode,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      total_quantity = #{totalQuantity,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      complete_time = #{completeTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      product_img = #{productImg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--动态条件查询心愿单列表 yinyuxin-->
  <select id="queryWishListsByParam" resultMap="BaseResultMap" parameterType="com.yatang.sc.order.domain.WishListParamPo">
    SELECT
    <include refid="Base_Column_List" />
    FROM sc_wish_list
    WHERE 1=1
    <if test="gbCode != null">
      AND gb_code=#{gbCode,jdbcType=VARCHAR}
    </if>
    <if test="status != null">
      AND status=#{status,jdbcType=VARCHAR}
    </if>
    <if test="branchCompanyIds != null and branchCompanyIds.size > 0">
      AND branch_company_id IN
      <foreach collection="branchCompanyIds" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test="createTimeStart != null">
      AND create_time &gt;= #{createTimeStart,jdbcType=TIMESTAMP}
    </if>
    <if test="createTimeEnd != null">
      AND create_time &lt;= #{createTimeEnd,jdbcType=TIMESTAMP}
    </if>
    ORDER BY status DESC ,create_time DESC
  </select>

  <select id="findWishForBarcode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sc_wish_list
    where status = 'init'
    <if test="barCode != null and barCode != ''">
      AND gb_code = #{barCode,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="findWishListByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sc_wish_list
    where status = 'init'
    <if test="barCode != null and barCode != ''">
      AND gb_code = #{barCode,jdbcType=VARCHAR}
    </if>
    <if test="branchCompanyId != null and branchCompanyId != ''">
      AND branch_company_id = #{branchCompanyId,jdbcType=VARCHAR}
    </if>
  </select>


</mapper>