<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan
            base-package="com.busi.kidd,com.yatang.sc.*.service,com.busi.kidd,com.yatang.sc.*.service.kidd"/>

    <aop:aspectj-autoproxy/>

    <context:property-placeholder location="classpath:glink.properties,classpath:rocket-mq.properties"
                                  ignore-unresolvable="true"/>
    <!-- kidd -->
    <bean class="com.busi.kidd.KiddCallerInterceptor">
        <property name="kiddSetting" ref="kiddSetting"/>
        <property name="kiddSettingOfXinyi" ref="xinyi.kiddSetting"/>
        <property name="kiddSettingOfJuban" ref="juban.kiddSetting"/>
    </bean>

    <bean id="logRecord" class="com.busi.kidd.behavior.impl.LogBehaviorRecord"/>

    <!-- kidd of glink -->
    <bean id="jsonSerialization" class="com.busi.kidd.serialize.json.JSonDataSerialization"/>
    <bean id="httpCaller" class="com.busi.kidd.protocol.http.HttpCallerProtocol"/>
    <bean id="kiddSetting" class="com.busi.kidd.KiddSetting">
        <property name="appKey" value="${glink.setting.appKey}"/>
        <property name="appSecret" value="${glink.setting.appSecret}"/>
        <property name="URL" value="${glink.setting.url}"/>
    </bean>
    <bean id="md5Security" class="com.busi.kidd.security.md5.MD5Security">
        <property name="kiddSetting" ref="kiddSetting"/>
    </bean>
    <bean class="com.busi.kidd.processor.caller.SyncCallerProcessor" init-method="init">
        <property name="dataSerialization" ref="jsonSerialization"/>
        <property name="kiddSetting" ref="kiddSetting"/>
        <property name="kiddSecurity" ref="md5Security"/>
        <property name="behaviorRecord" ref="logRecord"/>
        <property name="callerProtocol" ref="httpCaller"/>
    </bean>

    <!-- kidd of xinyi -->
    <bean id="xmlSerialization" class="com.busi.kidd.serialize.xml.XmlDataSerialization"/>
    <bean id="xinyiHttpCaller" class="com.busi.kidd.protocol.http.XinyiHttpCallerProtocol"/>
    <bean id="xinyi.kiddSetting" class="com.busi.kidd.KiddSetting">
        <property name="appKey" value="${xinyi.setting.appKey}"/>
        <property name="appSecret" value="${xinyi.setting.appSecret}"/>
        <property name="URL" value="${xinyi.setting.url}"/>
        <property name="customerId" value="${xinyi.setting.customerId}"/>
    </bean>
    <bean id="xinyi.md5Security" class="com.busi.kidd.security.md5.MD5Security">
        <property name="kiddSetting" ref="xinyi.kiddSetting"/>
    </bean>
    <bean class="com.busi.kidd.processor.caller.XinyiSyncCallerProcessor" init-method="init">
        <property name="dataSerialization" ref="xmlSerialization"/>
        <property name="kiddSetting" ref="xinyi.kiddSetting"/>
        <property name="kiddSecurity" ref="xinyi.md5Security"/>
        <property name="behaviorRecord" ref="logRecord"/>
        <property name="callerProtocol" ref="xinyiHttpCaller"/>
    </bean>

    <!-- kidd of juban -->
    <bean id="jubanHttpCaller" class="com.busi.kidd.protocol.http.XinyiHttpCallerProtocol"/>
    <bean id="juban.kiddSetting" class="com.busi.kidd.KiddSetting">
        <property name="appKey" value="${juban.setting.appKey}"/>
        <property name="appSecret" value="${juban.setting.appSecret}"/>
        <property name="URL" value="${juban.setting.url}"/>
        <property name="customerId" value="${juban.setting.customerId}"/>
    </bean>
    <bean id="juban.md5Security" class="com.busi.kidd.security.md5.MD5Security">
        <property name="kiddSetting" ref="juban.kiddSetting"/>
    </bean>
    <bean class="com.busi.kidd.processor.caller.JubanSyncCallerProcessor" init-method="init">
        <property name="dataSerialization" ref="xmlSerialization"/>
        <property name="kiddSetting" ref="juban.kiddSetting"/>
        <property name="kiddSecurity" ref="juban.md5Security"/>
        <property name="behaviorRecord" ref="logRecord"/>
        <property name="callerProtocol" ref="jubanHttpCaller"/>
    </bean>

    <!--  分界线  -->

    <bean class="org.springframework.context.event.ResultEventListenerFactory"/>
    <bean id="resultApplicationEventMulticaster"
          class="org.springframework.context.event.ResultApplicationEventMulticaster"/>
    <bean class="org.springframework.context.event.ResultEventListenerMethodProcessor">
        <property name="resultApplicationEventMulticaster" ref="resultApplicationEventMulticaster"/>
    </bean>
    <bean id="resultEventPublisher" class="org.springframework.context.event.SimpleResultEventPublisher">
        <property name="resultApplicationEventMulticaster" ref="resultApplicationEventMulticaster"/>
    </bean>

    <!-- MQ -->
    <bean id="entryOrderMQProducer" class="com.busi.mq.producer.SimpleMQProducer" init-method="init"
          destroy-method="destroy">
        <property name="namesrvAddr" value="${rocketmq.nameserver.address}"/>
        <property name="producerGroup" value="${rocketmq.entryOrderMsg.producer.group}"/>
        <property name="encoder" ref="entryOrderMQEncoder"/>
    </bean>
    <bean id="entryOrderMQEncoder" class="com.busi.mq.message.encoder.JSONStringEncoder">
        <property name="msgTopic" value="${rocketmq.entryOrderMsg.topic}"/>
        <property name="msgTag" value="${rocketmq.entryOrderMsg.tag}"/>
    </bean>

    <!--库存调整生产者-->
    <bean id="kiddAdjustmentMQProducer" class="com.busi.mq.producer.SimpleMQProducer" init-method="init"
          destroy-method="destroy">
        <property name="namesrvAddr" value="${rocketmq.nameserver.address}"/>
        <property name="producerGroup" value="${rocketmq.adjustment.producergroup}"/>
        <property name="encoder" ref="kiddAdjustmentMQEncoder"/>
    </bean>
    <bean id="kiddAdjustmentMQEncoder" class="com.busi.mq.message.encoder.JSONStringEncoder">
        <property name="msgTopic" value="${rocketmq.adjustment.topic}"/>
        <property name="msgTag" value="${rocketmq.adjustment.tag}"/>
    </bean>
    <!--退货换货MQ-->
    <bean id="returnOrderMQProducer" class="com.busi.mq.producer.SimpleMQProducer" init-method="init"
          destroy-method="destroy">
        <property name="namesrvAddr" value="${rocketmq.nameserver.address}"/>
        <property name="producerGroup" value="${rocketmq.returnOrderMsg.producer.group}"/>
        <property name="encoder" ref="returnOrderMQEncoder"/>
    </bean>
    <bean id="returnOrderMQEncoder" class="com.busi.mq.message.encoder.JSONStringEncoder">
        <property name="msgTopic" value="${rocketmq.returnOrderMsg.topic}"/>
        <property name="msgTag" value="${rocketmq.returnOrderMsg.tag}"/>
    </bean>
    <!--采购退货MQ-->
    <bean id="purcharseRefundMQProducer" class="com.busi.mq.producer.SimpleMQProducer" init-method="init"
          destroy-method="destroy">
        <property name="namesrvAddr" value="${rocketmq.nameserver.address}"/>
        <property name="producerGroup" value="${rocketmq.purchaseRefundMsg.producergroup}"/>
        <property name="encoder" ref="purchaseRefundMQEncoder"/>
    </bean>
    <bean id="purchaseRefundMQEncoder" class="com.busi.mq.message.encoder.JSONStringEncoder">
        <property name="msgTopic" value="${rocketmq.purchaseRefundMsg.topic}"/>
        <property name="msgTag" value="${rocketmq.purchaseRefundMsg.tag}"/>
    </bean>
</beans>