<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    
    <context:component-scan base-package="com.yatang.sc.app.operation.web" />
	<context:property-placeholder location="classpath*:server.properties" />
	<!-- Dubbo config -->
	<dubbo:application name="${dubbo.application}" />
	<dubbo:registry protocol="zookeeper" address="${dubbo.zookeeper.host}" />
	<dubbo:protocol name="dubbo" port="${dubbo.protocol.port}" />
	<dubbo:monitor protocol="${dubbo.monitor}" />
	<dubbo:consumer check="${dubbo.consumer.check}" />
    
    
    <!--图片服务器配置bean-->
    <bean id="appConfig" class="com.yatang.sc.app.vo.imgconfig.AppConfig">
        <property name="imageServerUrl" value="${image.view.url}"></property>
    </bean>
	
	<!-- 引入client工程中定义的 dubbo consumer配置 -->
    <import resource="classpath*:com/yatang/sc/biz/dubboservice/dubbo-consumer.xml" />
    <import resource="classpath*:com/yatang/xc/*/**/dubbo-consumer.xml" />
    <import resource="classpath*:com/yatang/sc/purchase/dubboservice/dubbo-consumer.xml" />
    <import resource="classpath*:com/yatang/sc/fulfillment/dubboservice/dubbo-consumer.xml" />
    <import resource="classpath*:com/yatang/sc/inventory/dubboservice/dubbo-consumer.xml"/>
    <import resource="classpath*:com/yatang/sc/order/dubboservice/dubbo-consumer.xml"/>
	<!-- <import resource="classpath*:com/yatang/xc/grant/biz/**/dubbo-consumer.xml" /> -->
	<!--<import resource="classpath*:com/yatang/xc/mbd/biz/region/dubboservice/dubbo-consumer.xml" />-->
    <!--<import resource="classpath*:com/yatang/xc/mbd/biz/system/dubboservice/dubbo-consumer.xml" />-->
    <!-- <import resource="classpath*:com/yatang/xc/oles/biz/**/dubbo-consumer.xml" /> -->
    <!--<import resource="classpath*:com/yatang/xc/mbd/biz/bpm/dubboservice/dubbo-consumer.xml" />-->
    <!--<import resource="classpath*:com/yatang/xc/mbd/biz/sms/dubboservice/dubbo-consumer.xml" />-->
</beans>
