<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yatang.sc.facade.dao.CarouselAdDao">
    <resultMap id="baseResultMap" type="com.yatang.sc.facade.domain.CarouselAdPo">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="sorting" property="sorting" jdbcType="INTEGER" />
        <result column="link_type" property="linkType" jdbcType="INTEGER" />
        <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
        <result column="link_address" property="linkAddress" jdbcType="VARCHAR" />
        <result column="pic_address" property="picAddress" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="create_person" property="createPerson" jdbcType="BIGINT"/>
        <result column="update_person" property="updatePerson" jdbcType="BIGINT"/>
        <result column="area_id" property="areaId" jdbcType="VARCHAR"/>
        <result column="link_keyword" property="linkKeyword" jdbcType="VARCHAR"/>
        <result column="link_id" property="linkId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, sorting, link_type, goods_id, link_address,pic_address,status,create_person,update_person,area_id,link_keyword,link_id
    </sql>

    <select id="queryById" resultMap="baseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_home_carousel_ad
        WHERE id = #{id,jdbcType=INTEGER}
    </select>
    
    <select id="listBySorting" parameterType="java.util.Map" resultMap="baseResultMap" >
        SELECT <include refid="Base_Column_List" />  FROM sys_home_carousel_ad
        ORDER BY status DESC, sorting
    </select>

    <select id="queryBySorting" parameterType="com.yatang.sc.facade.domain.QueryRepeatSortingPo" resultMap="baseResultMap">
        SELECT <include refid="Base_Column_List" /> FROM sys_home_carousel_ad
        <where>
            1=1
            <if test="queryType == 1 and carouselAdId != null ">
                AND id != #{carouselAdId, jdbcType=INTEGER} AND sorting = #{sorting,jdbcType=INTEGER}
            </if>
            <if test="queryType == 0">
                AND sorting = #{sorting,jdbcType=INTEGER}
            </if>
            AND area_id = #{areaId, jdbcType=VARCHAR}
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM sys_home_carousel_ad
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="CarouselAdPo">
        INSERT INTO sys_home_carousel_ad
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sorting != null">
                sorting,
            </if>
            <if test="linkType != null">
                link_type,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="linkAddress != null">
                link_address,
            </if>
            <if test="picAddress != null">
                pic_address,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createPerson != null">
                create_person,
            </if>
                gmt_create,
                area_id,
            <if test="linkKeyword != null">
                link_keyword,
            </if>
            <if test="linkId != null">
                link_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="sorting != null">
                #{sorting,jdbcType=INTEGER},
            </if>
            <if test="linkType != null">
                #{linkType,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="linkAddress != null">
                #{linkAddress,jdbcType=VARCHAR},
            </if>
            <if test="picAddress != null">
                #{picAddress,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createPerson != null">
                #{createPerson,jdbcType=BIGINT},
            </if>
                now(),
                #{areaId,jdbcType=VARCHAR},
            <if test="linkKeyword != null">
                #{linkKeyword,jdbcType=VARCHAR},
            </if>
            <if test="linkId != null">
                #{linkId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey"
            parameterType="com.yatang.sc.facade.domain.CarouselAdPo">
        UPDATE sys_home_carousel_ad
        <set>
            <trim suffixOverrides=",">
                <if test="sorting != null">
                    sorting = #{sorting,jdbcType=INTEGER},
                </if>
                <if test="linkType != null">
                    link_type = #{linkType,jdbcType=INTEGER},
                </if>
                <if test="goodsId != null">
                    goods_id = #{goodsId,jdbcType=VARCHAR},
                </if>
                <if test="linkAddress != null">
                    link_address = #{linkAddress,jdbcType=VARCHAR},
                </if>
                <if test="picAddress != null">
                    pic_address = #{picAddress,jdbcType=VARCHAR},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=INTEGER},
                </if>
                <if test="updatePerson != null">
                    update_person = #{updatePerson,jdbcType=VARCHAR},
                </if>
                <if test="linkKeyword != null">
                    link_keyword = #{linkKeyword,jdbcType=VARCHAR},
                </if>
                <if test="linkId != null">
                    link_id = #{linkId,jdbcType=VARCHAR},
                </if>
            </trim>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateCertainCarouselAd"
            parameterType="com.yatang.sc.facade.domain.CarouselAdPo">
        UPDATE sys_home_carousel_ad
        <set>
            <trim suffixOverrides=",">
                <if test="sorting != null">
                    sorting = #{sorting,jdbcType=INTEGER},
                </if>
                <if test="linkType != null">
                    link_type = #{linkType,jdbcType=INTEGER},
                </if>
                <if test="goodsId != null">
                    goods_id = #{goodsId,jdbcType=VARCHAR},
                </if>
                <if test="linkAddress != null">
                    link_address = #{linkAddress,jdbcType=VARCHAR},
                </if>
                <if test="picAddress != null">
                    pic_address = #{picAddress,jdbcType=VARCHAR},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=INTEGER},
                </if>
                <if test="updatePerson != null">
                    update_person = #{updatePerson,jdbcType=VARCHAR},
                </if>
                <if test="linkKeyword != null">
                    link_keyword = #{linkKeyword,jdbcType=VARCHAR},
                </if>
                <if test="linkId != null">
                    link_id = #{linkId,jdbcType=VARCHAR},
                </if>
            </trim>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="queryCarouselAdsByAreaId" parameterType="java.lang.String" resultMap="baseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_home_carousel_ad
        <where>
            1=1
            <if test="areaId!=null">
                AND area_id=#{areaId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="queryCarouselAdsByParam" parameterType="com.yatang.sc.facade.domain.CarouselAdPo" resultMap="baseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_home_carousel_ad
        <where>
            1=1
            <if test="linkType != null">
                AND link_type = #{linkType,jdbcType=INTEGER}
            </if>
            <if test="goodsId != null">
                AND goods_id = #{goodsId,jdbcType=VARCHAR}
            </if>
            <if test="linkAddress != null">
                AND link_address = #{linkAddress,jdbcType=VARCHAR}
            </if>
            <if test="picAddress != null">
                AND pic_address = #{picAddress,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                AND status = #{status,jdbcType=INTEGER}
            </if>
            <if test="updatePerson != null">
                AND update_person = #{updatePerson,jdbcType=BIGINT}
            </if>
            <if test="areaId!=null">
                AND area_id=#{areaId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>