<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yatang.sc.facade.dao.DepositRecordDao" >
  <resultMap id="BaseResultMap" type="com.yatang.sc.facade.domain.DepositRecordPo" >
	<id column="id" property="id" jdbcType="INTEGER" />
	<result column="sp_id" property="spId" jdbcType="VARCHAR" />
	<result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
	<result column="pay_channel" property="payChannel" typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
	<result column="payment_type" property="paymentType" typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
	<result column="pay_account" property="payAccount" jdbcType="VARCHAR" />
	<result column="amount" property="amount" jdbcType="DECIMAL" />
	<result column="before_amount" property="beforeAmount" jdbcType="DECIMAL" />
	<result column="after_amount" property="afterAmount" jdbcType="DECIMAL" />
	<result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />

	<association property="supplier" javaType="com.yatang.sc.facade.domain.SupplierInfoPo"
							 column="sp_id" select="com.yatang.sc.facade.dao.SupplierInfoDao.queryById"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
		id, trade_no, pay_channel, payment_type, pay_account,
		amount,before_amount,after_amount,created_time,sp_id
  </sql>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
	    DELETE FROM sp_deposit_record
	    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.yatang.sc.facade.domain.DepositRecordPo" >
	    INSERT INTO sp_deposit_record
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        id,
	      </if>
	      <if test="spId != null" >
					sp_id,
	      </if>
	      <if test="tradeNo != null" >
					trade_no,
	      </if>
	      <if test="payChannel != null" >
					pay_channel,
	      </if>
	      <if test="paymentType != null" >
					payment_type,
	      </if>
	      <if test="payAccount != null" >
					pay_account,
	      </if>
	      <if test="amount != null" >
					amount,
	      </if>
	      <if test="beforeAmount != null" >
					before_amount,
	      </if>
	      <if test="afterAmount != null" >
					after_amount,
	      </if>
	      <if test="createdTime != null" >
					created_time,
	      </if>
	    </trim>
	    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        #{id,jdbcType=INTEGER},
	      </if>
	      <if test="spId != null" >
	        #{spId,jdbcType=VARCHAR},
	      </if>
	      <if test="tradeNo != null" >
	        #{tradeNo,jdbcType=VARCHAR},
	      </if>
	      <if test="payChannel != null" >
	        #{payChannel,jdbcType=VARCHAR},
	      </if>
	      <if test="paymentType != null" >
	        #{paymentType,jdbcType=VARCHAR},
	      </if>
	      <if test="payAccount != null" >
	        #{payAccount,jdbcType=VARCHAR},
	      </if>
	      <if test="amount != null" >
	        #{amount,jdbcType=NUMERIC},
	      </if>
	      <if test="beforeAmount != null" >
	        #{beforeAmount,jdbcType=NUMERIC},
	      </if>
	      <if test="afterAmount != null" >
	        #{afterAmount,jdbcType=NUMERIC},
	      </if>
	      <if test="createdTime != null" >
	        #{createdTime,jdbcType=DATE},
	      </if>
	    </trim>
  </insert>

	<select id="listByParam" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		t.id, trade_no, pay_channel, payment_type, pay_account,
		amount,before_amount,after_amount,created_time,sp_id,
		t2.sp_no,t2.company_name
		FROM sp_deposit_record t
		LEFT JOIN supplier_info t1 ON t.sp_id=t1.id
		LEFT JOIN sp_basic_info t2 ON t1.basic_id=t2.id
		<where>
			1=1
			<if test="spNo != null"> AND t2.sp_no = #{spNo}</if>
			<if test="companyName != null"> AND t2.company_name LIKE CONCAT('%',(#{companyName}),'%')</if>
			<if test="paymentType != null"> AND payment_type = #{paymentType}</if>
			<if test="createdTimeFrom != null "> AND created_time >= #{createdTimeFrom} </if>
			<if test="createdTimeTo != null "><![CDATA[ AND created_time <= #{createdTimeTo} ]]></if>
		</where>
		ORDER BY created_time
	</select>

</mapper>