<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yatang.sc.facade.dao.PmPurchaseOrderDao">
    <resultMap id="BaseResultMap" type="com.yatang.sc.facade.domain.PmPurchaseOrderPo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="purchase_order_no" property="purchaseOrderNo"
                jdbcType="VARCHAR"/>
        <result column="sp_id" property="spId" jdbcType="VARCHAR"/>
        <result column="pay_condition" property="payCondition" jdbcType="INTEGER"/>
        <result column="sp_no" property="spNo" jdbcType="VARCHAR"/>
        <result column="sp_name" property="spName" jdbcType="VARCHAR"/>
        <result column="sp_adr_id" property="spAdrId" jdbcType="VARCHAR"/>
        <result column="sp_adr_no" property="spAdrNo" jdbcType="VARCHAR"/>
        <result column="sp_adr_name" property="spAdrName" jdbcType="VARCHAR"/>
        <result column="estimated_delivery_date" property="estimatedDeliveryDate"
                jdbcType="TIMESTAMP"/>
        <result column="settlement_period" property="settlementPeriod"
                jdbcType="INTEGER"/>
        <result column="pay_type" property="payType" jdbcType="INTEGER"/>
        <result column="pay_condition" property="payCondition" jdbcType="INTEGER"/>
        <result column="adr_type" property="adrType" jdbcType="INTEGER"/>
        <result column="adr_type_code" property="adrTypeCode" jdbcType="VARCHAR"/>
        <result column="adr_type_name" property="adrTypeName" jdbcType="VARCHAR"/>
        <result column="second_category_id" property="secondCategoryId" jdbcType="VARCHAR"/>
        <result column="currency_code" property="currencyCode"
                jdbcType="VARCHAR"/>
        <result column="branch_company_id" property="branchCompanyId"
                jdbcType="VARCHAR"/>
        <result column="purchase_order_type" property="purchaseOrderType"
                jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="failed_reason" property="failedReason"
                jdbcType="VARCHAR"/>
        <result column="audit_user_id" property="auditUserId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId"
                jdbcType="VARCHAR"/>
        <result column="modify_user_id" property="modifyUserId"
                jdbcType="VARCHAR"/>
        <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP"/>
        <result column="adr_name" property="adrName" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="second_category_name" property="secondCategoryName"
                jdbcType="VARCHAR"/>
        <result column="bar_code_url" property="barCodeUrl" jdbcType="VARCHAR"/>
        <result column="total_tax_amount" property="totalTaxAmount"
                jdbcType="DECIMAL"/>
        <result column="total_without_tax_amount" property="totalWithoutTaxAmount"
                jdbcType="DECIMAL"/>
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL"/>
        <result column="business_mode" property="businessMode"
                jdbcType="INTEGER"/>
        <result column="purchasing_mode" property="purchasingMode"
                jdbcType="INTEGER"/>
        <result column="sp_accept_status" property="spAcceptStatus"
                jdbcType="INTEGER"/>
        <result column="sale_order_id" property="saleOrderId"
                jdbcType="INTEGER"/>

    </resultMap>
    <sql id="Base_Column_List">
		id, purchase_order_no, sp_id, sp_no, sp_name, sp_adr_id,
		sp_adr_no,
		sp_adr_name,
		estimated_delivery_date, settlement_period,
		pay_condition, adr_type, adr_type_code, adr_type_name,
		second_category_id,
		currency_code, branch_company_id,
		purchase_order_type, status,
		failed_reason, audit_user_id, create_time, modify_time,
		create_user_id,
		modify_user_id,
		audit_time, adr_name, phone,
		second_category_name, bar_code_url,
		total_tax_amount,pay_type,
		total_without_tax_amount, total_amount,
        business_mode,purchasing_mode,
        sp_accept_status,sale_order_id
	</sql>

    <sql id="Alias_Column_List">
		p1.id, p1.purchase_order_no, p1.sp_id, p1.sp_no,
		p1.sp_name, p1.sp_adr_id,
		p1.sp_adr_no, p1.sp_adr_name,
		p1.estimated_delivery_date, p1.settlement_period, p1.pay_type,
		p1.adr_type, p1.adr_type_code,
		p1.adr_type_name,
		p1.second_category_id,
		p1.currency_code, p1.branch_company_id,p1.purchase_order_type,
		p1.status,
		p1.failed_reason, p1.audit_user_id, p1.create_time,
		p1.modify_time, p1.create_user_id,
		p1.modify_user_id,
		p1.audit_time,
		p1.adr_name, p1.phone, p1.second_category_name, p1.bar_code_url,
		p1.total_tax_amount,
		p1.total_without_tax_amount, p1.total_amount,
        p1.business_mode,p1.purchasing_mode
	</sql>

    <select id="selectPmPurchaseOrderByPurchaseReceiptNo" resultMap="BaseResultMap"
            parameterType="java.lang.String">
        SELECT
        <include refid="Alias_Column_List"/>
        FROM pm_purchase_order p1,pm_purchase_receipt p2
        WHERE
        p1.id=p2.purchase_order_id AND
        p2.purchase_receipt_no=#{purchaseReceiptNo,jdbcType=VARCHAR}
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from pm_purchase_order
        where id = #{id,jdbcType=BIGINT}
    </select>
    <!--根据传入参数查询采购单管理列表 -->
    <select id="queryPurchaseOrderList" parameterType="com.yatang.sc.facade.domain.PmPurchaseQueryParamPo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pm_purchase_order
        <where>1=1
            <if test="branchCompanyId !=null">
                AND (branch_company_id = #{branchCompanyId,jdbcType=VARCHAR}
                <if test="adrTypeCodes !=null">
                    <foreach collection="adrTypeCodes" item="item">
                        OR adr_type_code = #{item,jdbcType=VARCHAR}
                    </foreach>
                </if>
                )
            </if>
            <if test="purchaseOrderNo !=null">
                AND purchase_order_no =
                #{purchaseOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="adrType != null">
                AND adr_type = #{adrType,jdbcType=INTEGER}
            </if>
            <if test="adrTypeCode != null">
                AND adr_type_code = #{adrTypeCode,jdbcType=VARCHAR}
            </if>
            <if test="purchaseOrderType != null">
                AND purchase_order_type =
                #{purchaseOrderType,jdbcType=INTEGER}
            </if>
            <if test="secondCategoryId != null">
                AND second_category_id =
                #{secondCategoryId,jdbcType=VARCHAR}
            </if>
            <if test="secondCategoryId != null">
                AND second_category_id =
                #{secondCategoryId,jdbcType=VARCHAR}
            </if>
            <if test="spNo != null">
                AND sp_no = #{spNo,jdbcType=VARCHAR}
            </if>
            <if test="spAdrId != null">
                AND sp_adr_id = #{spAdrId,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                AND status = #{status,jdbcType=INTEGER}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">and date_format(create_time,'%Y-%m-%d')
                BETWEEN
                date_format(#{startCreateTime,jdbcType=TIMESTAMP},'%Y-%m-%d')
                AND
                date_format(#{endCreateTime,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>
            <if test="startCreateTime != null and endCreateTime == null">
                and
                <![CDATA[ date_format(create_time,'%Y-%m-%d') >= date_format(#{startCreateTime,jdbcType=TIMESTAMP},'%Y-%m-%d') ]]>
            </if>
            <if test="startCreateTime == null and endCreateTime != null">
                and
                <![CDATA[ date_format(create_time,'%Y-%m-%d') <= date_format(#{endCreateTime,jdbcType=TIMESTAMP},'%Y-%m-%d') ]]>
            </if>
            <if test="startAuditTime != null and endAuditTime != null">and date_format(audit_time,'%Y-%m-%d')
                BETWEEN
                date_format(#{startAuditTime,jdbcType=TIMESTAMP},'%Y-%m-%d')
                AND
                date_format(#{endAuditTime,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>
            <if test="startAuditTime != null and endAuditTime == null">
                and
                <![CDATA[ date_format(audit_time,'%Y-%m-%d') >= date_format(#{startAuditTime,jdbcType=TIMESTAMP},'%Y-%m-%d') ]]>
            </if>
            <if test="startCreateTime == null and endCreateTime != null">
                and
                <![CDATA[ date_format(audit_time,'%Y-%m-%d') <= date_format(#{endAuditTime,jdbcType=TIMESTAMP},'%Y-%m-%d') ]]>
            </if>
            <if test="businessMode != null">
                AND business_mode = #{businessMode,jdbcType=INTEGER}
            </if>
            <!-- 18-1-8新增字段查询条件-zby -->
            <if test="spAcceptStatus != null">
                AND sp_accept_status = #{spAcceptStatus,jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <!--根据传入参数查询采购单打印管理列表详细信息 -->
    <select id="queryPurchaseOrderListInfo" parameterType="com.yatang.sc.facade.domain.PmPurchaseQueryParamPo"
            resultMap="PurchaseOrderResultInfoMap">
        select
        <include refid="Base_Column_List"/>
        from pm_purchase_order
        <where>1=1
            <if test="branchCompanyId !=null">
                AND (branch_company_id = #{branchCompanyId,jdbcType=VARCHAR}
                <if test="adrTypeCodes !=null">
                    <foreach collection="adrTypeCodes" item="item">
                        OR adr_type_code = #{item,jdbcType=VARCHAR}
                    </foreach>
                </if>
                )
            </if>
            <if test="purchaseOrderNo !=null">
                AND purchase_order_no =
                #{purchaseOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="adrType != null">
                AND adr_type = #{adrType,jdbcType=INTEGER}
            </if>
            <if test="adrTypeCode != null">
                AND adr_type_code = #{adrTypeCode,jdbcType=VARCHAR}
            </if>
            <if test="purchaseOrderType != null">
                AND purchase_order_type =
                #{purchaseOrderType,jdbcType=INTEGER}
            </if>
            <if test="secondCategoryId != null">
                AND second_category_id =
                #{secondCategoryId,jdbcType=VARCHAR}
            </if>
            <if test="spNo != null">
                AND sp_no = #{spNo,jdbcType=VARCHAR}
            </if>
            <if test="spAdrId != null">
                AND sp_adr_id = #{spAdrId,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                AND status = #{status,jdbcType=INTEGER}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">and date_format(create_time,'%Y-%m-%d')
                BETWEEN
                date_format(#{startCreateTime,jdbcType=TIMESTAMP},'%Y-%m-%d')
                AND
                date_format(#{endCreateTime,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>
            <if test="startCreateTime != null and endCreateTime == null">
                and
                <![CDATA[ date_format(create_time,'%Y-%m-%d') >= date_format(#{startCreateTime,jdbcType=TIMESTAMP},'%Y-%m-%d') ]]>
            </if>
            <if test="startCreateTime == null and endCreateTime != null">
                and
                <![CDATA[ date_format(create_time,'%Y-%m-%d') <= date_format(#{endCreateTime,jdbcType=TIMESTAMP},'%Y-%m-%d') ]]>
            </if>
            <if test="startAuditTime != null and endAuditTime != null">and date_format(audit_time,'%Y-%m-%d')
                BETWEEN
                date_format(#{startAuditTime,jdbcType=TIMESTAMP},'%Y-%m-%d')
                AND
                date_format(#{endAuditTime,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>
            <if test="startAuditTime != null and endAuditTime == null">
                and
                <![CDATA[ date_format(audit_time,'%Y-%m-%d') >= date_format(#{startAuditTime,jdbcType=TIMESTAMP},'%Y-%m-%d') ]]>
            </if>
            <if test="startCreateTime == null and endCreateTime != null">
                and
                <![CDATA[ date_format(audit_time,'%Y-%m-%d') <= date_format(#{endAuditTime,jdbcType=TIMESTAMP},'%Y-%m-%d') ]]>
            </if>
            <if test="businessMode != null">
                AND business_mode = #{businessMode,jdbcType=INTEGER}
            </if>
            <if test="spAcceptStatus != null">
                AND sp_accept_status = #{spAcceptStatus,jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		pm_purchase_order
		where id = #{id,jdbcType=BIGINT}
	</delete>
    <insert id="insert" parameterType="com.yatang.sc.facade.domain.PmPurchaseOrderPo">
        <selectKey resultType="java.lang.Long" order="AFTER"
                   keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into pm_purchase_order ( purchase_order_no, sp_id,
        sp_no,
        sp_name, sp_adr_id,
        sp_adr_no, sp_adr_name, estimated_delivery_date,
        settlement_period, pay_type, pay_condition,adr_type,
        adr_type_code, adr_type_name,
        second_category_id,
        currency_code, branch_company_id,
        purchase_order_type,
        status,create_time, create_user_id,adr_name,
        phone, second_category_name, bar_code_url,
        total_tax_amount,
        total_without_tax_amount,
        total_amount,business_mode,purchasing_mode,sp_accept_status,sale_order_id)
        values (
        #{purchaseOrderNo,jdbcType=VARCHAR}, #{spId,jdbcType=VARCHAR},
        #{spNo,jdbcType=VARCHAR}, #{spName,jdbcType=VARCHAR},
        #{spAdrId,jdbcType=VARCHAR},
        #{spAdrNo,jdbcType=VARCHAR},
        #{spAdrName,jdbcType=VARCHAR},
        #{estimatedDeliveryDate,jdbcType=TIMESTAMP},
        #{settlementPeriod,jdbcType=INTEGER}, #{payType,jdbcType=INTEGER},#{payCondition,jdbcType=INTEGER},
        #{adrType,jdbcType=INTEGER},
        #{adrTypeCode,jdbcType=VARCHAR},
        #{adrTypeName,jdbcType=VARCHAR},
        #{secondCategoryId,jdbcType=VARCHAR},
        #{currencyCode,jdbcType=VARCHAR}, #{branchCompanyId,jdbcType=VARCHAR},
        #{purchaseOrderType,jdbcType=INTEGER},
        #{status,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=VARCHAR},
        #{adrName,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR},
        #{secondCategoryName,jdbcType=VARCHAR},
        #{barCodeUrl,jdbcType=VARCHAR},
        #{totalTaxAmount,jdbcType=DECIMAL},
        #{totalWithoutTaxAmount,jdbcType=DECIMAL},
        #{totalAmount,jdbcType=DECIMAL},
        #{businessMode,jdbcType=INTEGER},
        #{purchasingMode,jdbcType=INTEGER},
        #{spAcceptStatus,jdbcType=INTEGER},
        #{saleOrderId,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.yatang.sc.facade.domain.PmPurchaseOrderPo">
        insert into pm_purchase_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="purchaseOrderNo != null">
                purchase_order_no,
            </if>
            <if test="spId != null">
                sp_id,
            </if>
            <if test="spNo != null">
                sp_no,
            </if>
            <if test="spName != null">
                sp_name,
            </if>
            <if test="spAdrId != null">
                sp_adr_id,
            </if>
            <if test="spAdrNo != null">
                sp_adr_no,
            </if>
            <if test="spAdrName != null">
                sp_adr_name,
            </if>
            <if test="estimatedDeliveryDate != null">
                estimated_delivery_date,
            </if>
            <if test="settlementPeriod != null">
                settlement_period,
            </if>
            <if test="payType != null">
                pay_type,
            </if>
            <if test="adrType != null">
                adr_type,
            </if>
            <if test="adrTypeCode != null">
                adr_type_code,
            </if>
            <if test="adrTypeName != null">
                adr_type_name,
            </if>
            <if test="secondCategoryId != null">
                second_category_id,
            </if>
            <if test="currencyCode != null">
                currency_code,
            </if>
            <if test="branchCompanyId != null">
                branch_company_id,
            </if>
            <if test="purchaseOrderType != null">
                purchase_order_type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="failedReason != null">
                failed_reason,
            </if>
            <if test="auditUserId != null">
                audit_user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="modifyUserId != null">
                modify_user_id,
            </if>
            <if test="auditTime != null">
                audit_time,
            </if>
            <if test="adrName != null">
                adr_name,
            </if>
            <if test="phone != null">
                phone,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="purchaseOrderNo != null">
                #{purchaseOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="spId != null">
                #{spId,jdbcType=VARCHAR},
            </if>
            <if test="spNo != null">
                #{spNo,jdbcType=VARCHAR},
            </if>
            <if test="spName != null">
                #{spName,jdbcType=VARCHAR},
            </if>
            <if test="spAdrId != null">
                #{spAdrId,jdbcType=VARCHAR},
            </if>
            <if test="spAdrNo != null">
                #{spAdrNo,jdbcType=VARCHAR},
            </if>
            <if test="spAdrName != null">
                #{spAdrName,jdbcType=VARCHAR},
            </if>
            <if test="estimatedDeliveryDate != null">
                #{estimatedDeliveryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="settlementPeriod != null">
                #{settlementPeriod,jdbcType=INTEGER},
            </if>
            <if test="payType != null">
                #{payType,jdbcType=INTEGER},
            </if>
            <if test="adrType != null">
                #{adrType,jdbcType=INTEGER},
            </if>
            <if test="adrTypeCode != null">
                #{adrTypeCode,jdbcType=VARCHAR},
            </if>
            <if test="adrTypeName != null">
                #{adrTypeName,jdbcType=VARCHAR},
            </if>
            <if test="secondCategoryId != null">
                #{secondCategoryId,jdbcType=VARCHAR},
            </if>
            <if test="currencyCode != null">
                #{currencyCode,jdbcType=VARCHAR},
            </if>
            <if test="branchCompanyId != null">
                #{branchCompanyId,jdbcType=INTEGER},
            </if>
            <if test="purchaseOrderType != null">
                #{purchaseOrderType,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="failedReason != null">
                #{failedReason,jdbcType=VARCHAR},
            </if>
            <if test="auditUserId != null">
                #{auditUserId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="modifyUserId != null">
                #{modifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="auditTime != null">
                #{auditTime,jdbcType=TIMESTAMP},
            </if>
            <if test="adrName != null">
                #{adrName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yatang.sc.facade.domain.PmPurchaseOrderPo">
        update pm_purchase_order
        <set>
            <if test="spId != null">
                sp_id = #{spId,jdbcType=VARCHAR},
            </if>
            <if test="spNo != null">
                sp_no = #{spNo,jdbcType=VARCHAR},
            </if>
            <if test="spName != null">
                sp_name = #{spName,jdbcType=VARCHAR},
            </if>
            <if test="spAdrId != null">
                sp_adr_id = #{spAdrId,jdbcType=VARCHAR},
            </if>
            <if test="spAdrNo != null">
                sp_adr_no = #{spAdrNo,jdbcType=VARCHAR},
            </if>
            <if test="spAdrName != null">
                sp_adr_name = #{spAdrName,jdbcType=VARCHAR},
            </if>
            <if test="estimatedDeliveryDate != null">
                estimated_delivery_date =
                #{estimatedDeliveryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="settlementPeriod != null">
                settlement_period = #{settlementPeriod,jdbcType=INTEGER},
            </if>
            <if test="payType != null">
                pay_type = #{payType,jdbcType=INTEGER},
            </if>
            <if test="adrType != null">
                adr_type = #{adrType,jdbcType=INTEGER},
            </if>
            <if test="adrTypeCode != null">
                adr_type_code = #{adrTypeCode,jdbcType=VARCHAR},
            </if>
            <if test="adrTypeName != null">
                adr_type_name = #{adrTypeName,jdbcType=VARCHAR},
            </if>
            <if test="secondCategoryId != null">
                second_category_id =
                #{secondCategoryId,jdbcType=VARCHAR},
            </if>
            <if test="currencyCode != null">
                currency_code = #{currencyCode,jdbcType=VARCHAR},
            </if>
            <if test="branchCompanyId != null">
                branch_company_id = #{branchCompanyId,jdbcType=VARCHAR},
            </if>
            <if test="purchaseOrderType != null">
                purchase_order_type =
                #{purchaseOrderType,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="failedReason != null">
                failed_reason = #{failedReason,jdbcType=VARCHAR},
            </if>
            <if test="auditUserId != null">
                audit_user_id = #{auditUserId,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUserId != null">
                modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
            </if>
            <if test="auditTime != null">
                audit_time = #{auditTime,jdbcType=TIMESTAMP},
            </if>
            <if test="adrName != null">
                adr_name = #{adrName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="totalTaxAmount != null">
                total_tax_amount = #{totalTaxAmount,jdbcType=DECIMAL},
            </if>
            <if test="totalWithoutTaxAmount != null">
                total_without_tax_amount = #{totalWithoutTaxAmount,jdbcType=DECIMAL},
            </if>
            <if test="totalAmount != null">
                total_amount = #{totalAmount,jdbcType=DECIMAL},
            </if>
            <if test="businessMode != null">
                business_mode = #{businessMode,jdbcType=INTEGER},
            </if>
            <if test="purchasingMode != null">
                purchasing_mode = #{purchasingMode,jdbcType=INTEGER},
            </if>
            <if test="spAcceptStatus != null">
                sp_accept_status = #{spAcceptStatus,jdbcType=INTEGER},
            </if>
            <if test="saleOrderId != null">
                sale_order_id = #{saleOrderId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yatang.sc.facade.domain.PmPurchaseOrderPo">
		update
		pm_purchase_order
		set
		sp_id = #{spId,jdbcType=VARCHAR},
		sp_no =
		#{spNo,jdbcType=VARCHAR},
		sp_name = #{spName,jdbcType=VARCHAR},
		sp_adr_id = #{spAdrId,jdbcType=VARCHAR},
		sp_adr_no=#{spAdrNo,jdbcType=VARCHAR},
		sp_adr_name =#{spAdrName,jdbcType=VARCHAR},
		estimated_delivery_date
		=#{estimatedDeliveryDate,jdbcType=TIMESTAMP},
		settlement_period =
		#{settlementPeriod,jdbcType=INTEGER},
		pay_type=#{payType,jdbcType=INTEGER},
		pay_condition=#{payCondition,jdbcType=INTEGER},
		adr_type = #{adrType,jdbcType=INTEGER},
		adr_type_code = #{adrTypeCode,jdbcType=VARCHAR},
		adr_type_name=#{adrTypeName,jdbcType=VARCHAR},
		second_category_id=#{secondCategoryId,jdbcType=VARCHAR},
		currency_code =#{currencyCode,jdbcType=VARCHAR},
		branch_company_id
		=#{branchCompanyId,jdbcType=VARCHAR},
		purchase_order_type =
		#{purchaseOrderType,jdbcType=INTEGER},
		status =
		#{status,jdbcType=INTEGER},
		failed_reason =
		#{failedReason,jdbcType=VARCHAR},
		audit_user_id
		=#{auditUserId,jdbcType=VARCHAR},
		modify_time =
		#{modifyTime,jdbcType=TIMESTAMP},
		modify_user_id
		=#{modifyUserId,jdbcType=VARCHAR},
		adr_name =
		#{adrName,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		total_tax_amount = #{totalTaxAmount,jdbcType=DECIMAL},
		total_without_tax_amount = #{totalWithoutTaxAmount,jdbcType=DECIMAL},
		total_amount = #{totalAmount,jdbcType=DECIMAL}
		where id =
		#{id,jdbcType=BIGINT}
	</update>
    <!--根据采购单id关联查询采购单详情 -->
    <resultMap id="PurchaseOrderResultMap"
               type="com.yatang.sc.facade.domain.pm.PmPurchaseOrderInfoPo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="purchase_order_no" property="purchaseOrderNo"
                jdbcType="VARCHAR"/>
        <result column="sp_id" property="spId" jdbcType="VARCHAR"/>
        <result column="pay_condition" property="payCondition" jdbcType="INTEGER"/>
        <result column="sp_no" property="spNo" jdbcType="VARCHAR"/>
        <result column="sp_name" property="spName" jdbcType="VARCHAR"/>
        <result column="sp_adr_id" property="spAdrId" jdbcType="VARCHAR"/>
        <result column="sp_adr_no" property="spAdrNo" jdbcType="VARCHAR"/>
        <result column="sp_adr_name" property="spAdrName" jdbcType="VARCHAR"/>
        <result column="sale_order_id" property="saleOrderId" jdbcType="VARCHAR"/>
        <result column="estimated_delivery_date" property="estimatedDeliveryDate"
                jdbcType="TIMESTAMP"/>
        <result column="settlement_period" property="settlementPeriod"
                jdbcType="INTEGER"/>
        <result column="pay_type" property="payType" jdbcType="INTEGER"/>
        <result column="adr_type" property="adrType" jdbcType="INTEGER"/>
        <result column="adr_type_code" property="adrTypeCode" jdbcType="VARCHAR"/>
        <result column="adr_type_name" property="adrTypeName" jdbcType="VARCHAR"/>
        <result column="second_category_id" property="secondCategoryId"
                jdbcType="VARCHAR"/>
        <result column="currency_code" property="currencyCode"
                jdbcType="VARCHAR"/>
        <result column="branch_company_id" property="branchCompanyId"
                jdbcType="VARCHAR"/>
        <result column="purchase_order_type" property="purchaseOrderType"
                jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="failed_reason" property="failedReason"
                jdbcType="VARCHAR"/>
        <result column="audit_user_id" property="auditUserId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId"
                jdbcType="VARCHAR"/>
        <result column="modify_user_id" property="modifyUserId"
                jdbcType="VARCHAR"/>
        <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP"/>
        <result column="adr_name" property="adrName" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="second_category_name" property="secondCategoryName"
                jdbcType="VARCHAR"/>
        <result column="bar_code_url" property="barCodeUrl" jdbcType="VARCHAR"/>
        <result column="total_tax_amount" property="totalTaxAmount"
                jdbcType="DECIMAL"/>
        <result column="total_without_tax_amount" property="totalWithoutTaxAmount"
                jdbcType="DECIMAL"/>
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL"/>
        <result column="business_mode" property="businessMode"
                jdbcType="INTEGER"/>
        <result column="purchasing_mode" property="purchasingMode"
                jdbcType="INTEGER"/>
        <result column="sp_accept_status" property="spAcceptStatus"
                jdbcType="INTEGER"/>
        <collection property="pmPurchaseOrderItems" javaType="java.util.List"
                    ofType="com.yatang.sc.facade.domain.PmPurchaseOrderItemPo">
            <result column="order_item_id" property="id"/>
            <result column="purchase_order_id" property="purchaseOrderId"
                    jdbcType="VARCHAR"/>
            <result column="product_id" property="productId" jdbcType="VARCHAR"/>
            <result column="product_code" property="productCode" jdbcType="VARCHAR"/>
            <result column="product_name" property="productName" jdbcType="VARCHAR"/>
            <result column="international_code" property="internationalCode"
                    jdbcType="VARCHAR"/>
            <result column="packing_specifications" property="packingSpecifications"
                    jdbcType="VARCHAR"/>
            <result column="produce_place" property="producePlace"
                    jdbcType="VARCHAR"/>
            <result column="purchase_inside_number" property="purchaseInsideNumber"
                    jdbcType="INTEGER"/>
            <result column="unit_explanation" property="unitExplanation"
                    jdbcType="VARCHAR"/>
            <result column="input_tax_rate" property="inputTaxRate"
                    jdbcType="DECIMAL"/>
            <result column="purchase_price" property="purchasePrice"
                    jdbcType="DECIMAL"/>
            <result column="purchase_number" property="purchaseNumber"
                    jdbcType="INTEGER"/>
            <result column="item_total_amount" property="totalAmount" jdbcType="DECIMAL"/>
            <result column="received_number" property="receivedNumber"
                    jdbcType="INTEGER"/>
            <result column="prod_purchase_id" property="prodPurchaseId"
                    jdbcType="VARCHAR"/>

            <result column="tax_amount" property="taxAmount" jdbcType="DECIMAL"/>
            <result column="ppoi_total_without_tax_amount" property="totalWithoutTaxAmount" jdbcType="DECIMAL"/>
            <result column="is_valid" property="isValid" jdbcType="INTEGER"/>
            <result column="in_validate_reason" property="inValidateReason" jdbcType="VARCHAR"/>
            <result column="product_brand_id" property="productBrandId" jdbcType="VARCHAR"/>
            <result column="product_brand_name" property="productBrandName" jdbcType="VARCHAR"/>
            <!--<result column="availableInventory" property="availableInventory" jdbcType="VARCHAR"/>-->
            <result column="groups" property="groups" jdbcType="VARCHAR"/>
            <result column="dept" property="dept" jdbcType="VARCHAR"/>
            <result column="classs" property="classs" jdbcType="VARCHAR"/>
            <result column="subclass" property="subclass" jdbcType="VARCHAR"/>

            <result column="item_create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="item_modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
            <result column="item_create_user_id" property="createUserId"
                    jdbcType="VARCHAR"/>
            <result column="item_modify_user_id" property="modifyUserId"
                    jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <sql id="PurchaseOrder_Column_List">
		ppo.id, ppo.purchase_order_no, ppo.sp_id, ppo.sp_no,
		ppo.sp_name,ppo.pay_condition,
		ppo.sale_order_id,ppo.sp_accept_status,
		ppo.sp_adr_id, ppo.sp_adr_no, ppo.sp_adr_name,
		ppo.estimated_delivery_date, ppo.settlement_period, ppo.pay_type,
		ppo.adr_type, ppo.adr_type_code, ppo.adr_type_name,
		ppo.second_category_id, ppo.second_category_name, ppo.currency_code,
		ppo.branch_company_id, ppo.purchase_order_type, ppo.status,
		ppo.failed_reason, ppo.audit_user_id, ppo.create_time,
		ppo.modify_time, ppo.create_user_id, ppo.modify_user_id,
		ppo.audit_time, ppo.adr_name, ppo.phone, ppo.bar_code_url,
		ppo.second_category_name, ppo.bar_code_url, ppo.total_tax_amount,
		ppo.total_without_tax_amount, ppo.total_amount, ppo.business_mode, ppo.purchasing_mode,
		ppoi.id order_item_id,ppoi.purchase_order_id, ppoi.product_id, ppoi.product_code,
		ppoi.product_name, ppoi.international_code,
		ppoi.packing_specifications, ppoi.produce_place,ppoi.prod_purchase_id,
        ppoi.tax_amount,ppoi.total_without_tax_amount as ppoi_total_without_tax_amount,ppoi.is_valid,ppoi.product_brand_id,ppoi.product_brand_name,
        ppoi.in_validate_reason,ppoi.groups,ppoi.dept,ppoi.classs,ppoi.subclass,
		ppoi.purchase_inside_number, ppoi.unit_explanation,
		ppoi.input_tax_rate, ppoi.purchase_price, ppoi.purchase_number,
		ppoi.total_amount AS item_total_amount, ppoi.received_number, ppoi.create_time AS item_create_time,
		ppoi.modify_time AS item_modify_time, ppoi.create_user_id AS item_create_user_id, ppoi.modify_user_id AS item_modify_user_id
	</sql>
    <select id="getPurchaseOrderInfoById" resultMap="PurchaseOrderResultMap"
            parameterType="java.lang.Long">
        select
        <include refid="PurchaseOrder_Column_List"/>
        from pm_purchase_order ppo LEFT JOIN pm_purchase_order_item ppoi ON
        ppo.id = ppoi.purchase_order_id
        where ppo.id = #{id,jdbcType=BIGINT}
    </select>
    <!-- 根据ID批量关闭 -->
    <update id="closePurchaseListByPrimaryKey">
        update
        pm_purchase_order
        set status =4,
        failed_reason = '超期关闭',
        modify_time =#{modifyTime,jdbcType=TIMESTAMP}
        <if test="modifyUserId != null">
            ,modify_user_id =#{modifyUserId,jdbcType=VARCHAR}
        </if>
        where id in
        <foreach collection="updateListId" open="(" close=")"
                 separator="," item="item">
            #{item,jdbcType=BIGINT}
        </foreach>
    </update>

    <!-- 根据ID单个关闭 -->
    <update id="closePurchaseByPrimaryKey">
        update
        pm_purchase_order
        set status =4,
        failed_reason = #{failedReason,jdbcType=VARCHAR},
        modify_time =#{modifyTime,jdbcType=TIMESTAMP}
        <if test="modifyUserId != null">
            ,modify_user_id =#{modifyUserId,jdbcType=VARCHAR}
        </if>
        where id =#{id,jdbcType=BIGINT}
    </update>
    <!--批量删除=>物理删除(草稿状态: status=0) -->
    <delete id="batchDeletePmPurchaseOrderByIds" parameterType="java.util.List">
        delete from pm_purchase_order
        where id IN
        <foreach collection="list" item="item" open="(" separator=","
                 close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
        AND status=0
    </delete>
    <!--根据id删除=>物理删除(草稿状态: status=0) -->
    <delete id="deletePmPurchaseOrderById" parameterType="java.lang.Long">
		delete from
		pm_purchase_order
		where id =#{orderId,jdbcType=BIGINT}
		AND status=0
	</delete>

    <!--根据采购订单编号查询采购订单详情 -->
    <select id="getPurchaseOrderInfoByOrderNo" resultMap="PurchaseOrderResultMap"
            parameterType="java.lang.String">
        select
        <include refid="PurchaseOrder_Column_List"/>
        from pm_purchase_order ppo LEFT JOIN pm_purchase_order_item ppoi ON
        ppo.id = ppoi.purchase_order_id
        where ppo.purchase_order_no =
        #{purchaseOrderNo,jdbcType=VARCHAR}
    </select>
    <!--更新条形码url -->
    <update id="updateBarCodeUrlById">
		update
		pm_purchase_order
		set
		bar_code_url=#{barCodeUrl,jdbcType=VARCHAR}
		WHERE id=
		#{id,jdbcType=BIGINT}
	</update>
	
    <!--更新采购单状态 -->
    <update id="updateStatus">
		update
		pm_purchase_order
		set
		status=#{status,jdbcType=INTEGER}
		WHERE purchase_order_no =
		#{orderNo,jdbcType=VARCHAR}
	</update>

    <select id="selectPurchasePriceByPurchaseReceiptItemId">
		SELECT purchase_price FROM pm_purchase_order_item
		p1,pm_purchase_receipt_items p2 WHERE p2.purchase_order_items_id
		=p1.id AND p2.id=#{id,jdbcType=BIGINT}
	</select>


    <select id="selectCloseablePurchaseOrder" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pm_purchase_order WHERE sale_order_id IS NULL AND STATUS=#{status,jdbcType=INTEGER} AND
        estimated_delivery_date <![CDATA[ < ]]>DATE_SUB(NOW(),INTERVAL
        #{timeout,jdbcType=INTEGER} DAY)
    </select>
    <resultMap id="PurchaseOrderResultInfoMap"
               type="com.yatang.sc.facade.domain.pm.PmPurchaseOrderInfoPo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="purchase_order_no" property="purchaseOrderNo"
                jdbcType="VARCHAR"/>
        <result column="sp_id" property="spId" jdbcType="VARCHAR"/>
        <result column="pay_condition" property="payCondition" jdbcType="INTEGER"/>
        <result column="sp_no" property="spNo" jdbcType="VARCHAR"/>
        <result column="sp_name" property="spName" jdbcType="VARCHAR"/>
        <result column="sp_adr_id" property="spAdrId" jdbcType="VARCHAR"/>
        <result column="sp_adr_no" property="spAdrNo" jdbcType="VARCHAR"/>
        <result column="sp_adr_name" property="spAdrName" jdbcType="VARCHAR"/>
        <result column="estimated_delivery_date" property="estimatedDeliveryDate"
                jdbcType="TIMESTAMP"/>
        <result column="settlement_period" property="settlementPeriod"
                jdbcType="INTEGER"/>
        <result column="pay_type" property="payType" jdbcType="INTEGER"/>
        <result column="adr_type" property="adrType" jdbcType="INTEGER"/>
        <result column="adr_type_code" property="adrTypeCode" jdbcType="VARCHAR"/>
        <result column="adr_type_name" property="adrTypeName" jdbcType="VARCHAR"/>
        <result column="second_category_id" property="secondCategoryId"
                jdbcType="VARCHAR"/>
        <result column="currency_code" property="currencyCode"
                jdbcType="VARCHAR"/>
        <result column="branch_company_id" property="branchCompanyId"
                jdbcType="VARCHAR"/>
        <result column="purchase_order_type" property="purchaseOrderType"
                jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="failed_reason" property="failedReason"
                jdbcType="VARCHAR"/>
        <result column="audit_user_id" property="auditUserId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId"
                jdbcType="VARCHAR"/>
        <result column="modify_user_id" property="modifyUserId"
                jdbcType="VARCHAR"/>
        <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP"/>
        <result column="adr_name" property="adrName" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="second_category_name" property="secondCategoryName"
                jdbcType="VARCHAR"/>
        <result column="bar_code_url" property="barCodeUrl" jdbcType="VARCHAR"/>
        <result column="total_tax_amount" property="totalTaxAmount"
                jdbcType="DECIMAL"/>
        <result column="total_without_tax_amount" property="totalWithoutTaxAmount"
                jdbcType="DECIMAL"/>
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL"/>
        <result column="business_mode" property="businessMode"
                jdbcType="INTEGER"/>
        <result column="purchasing_mode" property="purchasingMode"
                jdbcType="INTEGER"/>
        <collection property="pmPurchaseOrderItems" ofType="com.yatang.sc.facade.domain.PmPurchaseOrderItemPo"
                    select="com.yatang.sc.facade.dao.PmPurchaseOrderItemDao.selectItemsInfo" column="id"/>
    </resultMap>




    <resultMap id="SupplierPurchaseOrderResultInfoMap" type="com.yatang.sc.facade.domain.PmSupplierPurchaseOrderItemPo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="adr_type" property="adrType" jdbcType="INTEGER"/>
        <result column="adr_type_code" property="adrTypeCode" jdbcType="VARCHAR"/>
        <result column="adr_type_name" property="adrTypeName" jdbcType="VARCHAR"/>
        <result column="sp_adr_no" property="spAdrNo" jdbcType="VARCHAR"/>
        <result column="sp_adr_name" property="spAdrName" jdbcType="VARCHAR"/>
        <result column="purchase_order_no" property="purchaseOrderNo" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="sp_accept_status" property="spAcceptStatus" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="estimated_delivery_date" property="estimatedDeliveryDate" jdbcType="TIMESTAMP"/>

        <!--<result column="sp_id" property="spId" jdbcType="VARCHAR"/>-->
        <!--<result column="sp_no" property="spNo" jdbcType="VARCHAR"/>-->
        <!--<result column="sp_name" property="spName" jdbcType="VARCHAR"/>-->
        <!--<result column="sp_adr_id" property="spAdrId" jdbcType="VARCHAR"/>-->
    </resultMap>

    <!--根据传入参数分页查询供应商采购单管理列表 -->
    <select id="querySupplierPurchaseOrderList" parameterType="com.yatang.sc.facade.domain.PmSupplierPurchaseOrderQueryParamPo" resultMap="SupplierPurchaseOrderResultInfoMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pm_purchase_order
        <where>1=1
                AND status NOT IN(0,1)
            <if test="spId != null">
                AND sp_id = #{spId,jdbcType=VARCHAR}
            </if>
            <if test="spAdrId != null">
                AND sp_adr_id = #{spAdrId,jdbcType=VARCHAR}
            </if>
            <if test="purchaseOrderType != null">
                AND purchase_order_type = #{purchaseOrderType,jdbcType=INTEGER}
            </if>
            <if test="purchaseOrderNo !=null">
                AND purchase_order_no = #{purchaseOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                AND status = #{status,jdbcType=INTEGER}
            </if>
            <if test="adrType != null">
                AND adr_type = #{adrType,jdbcType=INTEGER}
            </if>
            <if test="spAcceptStatus != null">
                AND sp_accept_status = #{spAcceptStatus,jdbcType=INTEGER}
            </if>
            <if test="adrTypeCode != null">
                AND adr_type_code = #{adrTypeCode,jdbcType=VARCHAR}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">
                AND date_format(create_time,'%Y-%m-%d')
                BETWEEN
                date_format(#{startCreateTime,jdbcType=TIMESTAMP},'%Y-%m-%d')
                AND
                date_format(#{endCreateTime,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>
            <if test="startCreateTime != null and endCreateTime == null">
                AND
                <![CDATA[ date_format(create_time,'%Y-%m-%d') >= date_format(#{startCreateTime,jdbcType=TIMESTAMP},'%Y-%m-%d') ]]>
            </if>
            <if test="startCreateTime == null and endCreateTime != null">
                AND
                <![CDATA[ date_format(create_time,'%Y-%m-%d') <= date_format(#{endCreateTime,jdbcType=TIMESTAMP},'%Y-%m-%d') ]]>
            </if>
            <if test="startEstimatedDeliveryDate != null and endEstimatedDeliveryDate != null">
                AND date_format(estimated_delivery_date,'%Y-%m-%d')
                BETWEEN
                date_format(#{startEstimatedDeliveryDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
                AND
                date_format(#{endEstimatedDeliveryDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>
            <if test="startEstimatedDeliveryDate != null and endEstimatedDeliveryDate == null">
                AND
                <![CDATA[ date_format(estimated_delivery_date,'%Y-%m-%d') >= date_format(#{startEstimatedDeliveryDate,jdbcType=TIMESTAMP},'%Y-%m-%d') ]]>
            </if>
            <if test="startEstimatedDeliveryDate == null and endEstimatedDeliveryDate != null">
                AND
                <![CDATA[ date_format(estimated_delivery_date,'%Y-%m-%d') <= date_format(#{endEstimatedDeliveryDate,jdbcType=TIMESTAMP},'%Y-%m-%d') ]]>
            </if>
        </where>
        <!--默认按照订单升序，1按预计收货日期升序;2按预计收货日期降序;3按订单号升序;4按订单号降序-->
        <if test="sort == null">
            ORDER BY purchase_order_no DESC
        </if>
        <if test="sort == 3">
            ORDER BY purchase_order_no ASC
        </if>
        <if test="sort == 1">
            ORDER BY estimated_delivery_date DESC
        </if>
        <if test="sort == 2">
            ORDER BY estimated_delivery_date ASC
        </if>
    </select>
    
    
    <select id="selectBySaleOrderId" resultMap="BaseResultMap"
            parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from pm_purchase_order
        where sale_order_id = #{saleOrderId,jdbcType=VARCHAR}</select>
</mapper>