<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yatang.sc.facade.dao.ProdPriceChangeDao" >
  <resultMap id="BaseResultMap" type="com.yatang.sc.facade.domain.ProdPriceChangePo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="change_type" property="changeType" jdbcType="INTEGER" />
    <result column="sp_id" property="spId" jdbcType="VARCHAR" />
    <result column="sp_adr_id" property="spAdrId" jdbcType="VARCHAR" />
    <result column="branch_company_id" property="branchCompanyId" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="gross_profit_margin" property="grossProfitMargin" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="newest_price" property="newestPrice" jdbcType="DECIMAL" />
    <result column="percentage" property="percentage" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
   	<result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="price_id" property="priceId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, change_type, sp_id, sp_adr_id, branch_company_id, product_id, gross_profit_margin,
    price, newest_price, percentage, create_time, create_user_id,product_code,price_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from prod_price_change
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from prod_price_change
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yatang.sc.facade.domain.ProdPriceChangePo" >
    insert into prod_price_change (id, change_type, sp_id, 
      sp_adr_id, branch_company_id, product_id, 
      gross_profit_margin, price,
      newest_price, percentage, create_time, 
      create_user_id,product_code,price_id)
    values (#{id,jdbcType=BIGINT}, #{changeType,jdbcType=INTEGER}, #{spId,jdbcType=VARCHAR}, 
      #{spAdrId,jdbcType=VARCHAR}, #{branchCompanyId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, 
      #{grossProfitMargin,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL},
      #{newestPrice,jdbcType=DECIMAL}, #{percentage,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserId,jdbcType=VARCHAR}, #{product_code,jdbcType=VARCHAR},#{priceId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yatang.sc.facade.domain.ProdPriceChangePo" >
    insert into prod_price_change
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="changeType != null" >
        change_type,
      </if>
      <if test="spId != null" >
        sp_id,
      </if>
      <if test="spAdrId != null" >
        sp_adr_id,
      </if>
      <if test="branchCompanyId != null" >
        branch_company_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="grossProfitMargin != null" >
        gross_profit_margin,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="newestPrice != null" >
        newest_price,
      </if>
      <if test="percentage != null" >
        percentage,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="priceId != null" >
        price_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="changeType != null" >
        #{changeType,jdbcType=INTEGER},
      </if>
      <if test="spId != null" >
        #{spId,jdbcType=VARCHAR},
      </if>
      <if test="spAdrId != null" >
        #{spAdrId,jdbcType=VARCHAR},
      </if>
      <if test="branchCompanyId != null" >
        #{branchCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="grossProfitMargin != null" >
        #{grossProfitMargin,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="newestPrice != null" >
        #{newestPrice,jdbcType=DECIMAL},
      </if>
      <if test="percentage != null" >
        #{percentage,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="priceId != null" >
        #{priceId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yatang.sc.facade.domain.ProdPriceChangePo" >
    update prod_price_change
    <set >
      <if test="changeType != null" >
        change_type = #{changeType,jdbcType=INTEGER},
      </if>
      <if test="spId != null" >
        sp_id = #{spId,jdbcType=VARCHAR},
      </if>
      <if test="spAdrId != null" >
        sp_adr_id = #{spAdrId,jdbcType=VARCHAR},
      </if>
      <if test="branchCompanyId != null" >
        branch_company_id = #{branchCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="grossProfitMargin != null" >
        gross_profit_margin = #{grossProfitMargin,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="newestPrice != null" >
        newest_price = #{newestPrice,jdbcType=DECIMAL},
      </if>
      <if test="percentage != null" >
        percentage = #{percentage,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yatang.sc.facade.domain.ProdPriceChangePo" >
    update prod_price_change
    set change_type = #{changeType,jdbcType=INTEGER},
      sp_id = #{spId,jdbcType=VARCHAR},
      sp_adr_id = #{spAdrId,jdbcType=VARCHAR},
      branch_company_id = #{branchCompanyId,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      gross_profit_margin = #{grossProfitMargin,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      newest_price = #{newestPrice,jdbcType=DECIMAL},
      percentage = #{percentage,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
	<!-- **********华丽丽的分割线********** -->
	<select id="selectProdPriceChangePoList" parameterType="com.yatang.sc.facade.domain.ProdPriceChangeQueryPo"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from prod_price_change
		<where>
			<if test="changeType != null">
				and change_type=#{changeType,jdbcType=INTEGER}
			</if>
			<if test="spId != null">
				and sp_id=#{spId,jdbcType=VARCHAR}
			</if>
			<if test="spAdrId != null">
				and sp_adr_id=#{spAdrId,jdbcType=VARCHAR}
			</if>
			<if test="branchCompanyId != null">
				and branch_company_id=#{branchCompanyId,jdbcType=VARCHAR}
			</if>
			<if test="productId != null">
				and product_id=#{productId,jdbcType=VARCHAR}
			</if>
			<if test="startTime != null">
				<![CDATA[ and create_time >= #{startTime,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="endTime != null">
				<![CDATA[ and create_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
			</if>
		</where>
		<!-- 查询结果按照变价类型、商品编码、操作时间进行排序显示 -->
		ORDER BY change_type asc,product_id asc,create_time asc

	</select>
</mapper>