<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yatang.sc.facade.dao.SellPriceInfoDao" >
  <resultMap id="BaseResultMap" type="com.yatang.sc.facade.domain.SellPriceInfoPo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="lowest_price" property="lowestPrice" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="delete_status" property="deleteStatus" jdbcType="INTEGER" />
    <result column="branch_company_id" property="branchCompanyId" jdbcType="VARCHAR" />
    <result column="branch_company_name" property="branchCompanyName" jdbcType="VARCHAR" />
    <result column="suggest_price" property="suggestPrice" jdbcType="DECIMAL" />
    <result column="delivery_day" property="deliveryDay" jdbcType="INTEGER" />
    <result column="sales_inside_number" property="salesInsideNumber" jdbcType="INTEGER" />
    <result column="min_number" property="minNumber" jdbcType="INTEGER" />
    <!--2017-09-05新增字段 -->
    <result column="pre_harvest_pin_status" property="preHarvestPinStatus" jdbcType="INTEGER" />
    <result column="max_number" property="maxNumber" jdbcType="INTEGER" />
    <!--2017-12-08新增字段-->
    <result column="failed_reason" property="failedReason" jdbcType="VARCHAR" />
    <result column="audit_user_id" property="auditUserId" jdbcType="VARCHAR" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="audit_status" property="auditStatus" jdbcType="INTEGER" />
    <result column="first_created" property="firstCreated" jdbcType="INTEGER" />
    <result column="price_protection" property="priceProtection" jdbcType="TINYINT" />

    <collection property="sellSectionPrices" javaType="java.util.List" ofType="com.yatang.sc.facade.domain.SellSectionPricePo"
    select="com.yatang.sc.facade.dao.SellSectionPriceDao.selectSectionPriceinfo" column="id"/>

  </resultMap>
  <sql id="Base_Column_List" >
    spi.id, spi.product_id, spi.lowest_price, spi.create_time, spi.create_user_id, spi.modify_time, spi.modify_user_id,
    spi.status, spi.delete_status, spi.branch_company_id, spi.branch_company_name, spi.suggest_price, spi.delivery_day, spi.sales_inside_number,
    spi.min_number,spi.pre_harvest_pin_status,spi.max_number, spi.failed_reason,spi.audit_user_id,spi.audit_time,spi.audit_status,spi.first_created,spi.price_protection
  </sql>
  <select id="getGoodsSellPrice" parameterType="com.yatang.sc.facade.domain.GoodsSellPriceQueryParamPo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from prod_sell_info spi
    <where>
      spi.delete_status=0

      <!--对于主数据或者app端查询售价信息，只查生效且非审核中的价格 yinyuxin-->
      <if test="firstCreated == 0">
        AND spi.first_created=0
      </if>

      <if test="auditStatus !=null">
        AND spi.audit_status=#{auditStatus,jdbcType=INTEGER}
      </if>

      <if test="productId != null and productId !=''">and spi.product_id=#{productId,jdbcType=VARCHAR}</if>
      <if test="branchCompanyId != null">
        and spi.branch_company_id =#{branchCompanyId,jdbcType=VARCHAR}
      </if>
      <if test="branchCompanyName != null and branchCompanyName !=''">and spi.branch_company_name=#{branchCompanyName,jdbcType=VARCHAR}
      </if>
      <if test="status != null">and spi.status=#{status,jdbcType=INTEGER}
      </if>
      <if test="id != null">and spi.id=#{id,jdbcType=INTEGER}</if>

      <!-- 权限修改：多个子公司 yinyuxin -->
      <if test="branchCompanyIds !=null and branchCompanyIds.size>0 ">
        AND spi.branch_company_id IN
        <foreach collection="branchCompanyIds" item="item" index="index" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>

    </where>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    *
    from prod_sell_info
    where id = #{id,jdbcType=BIGINT}
  </select>
 <!-- 根据商品id查询信息（提供给主数据使用）-->
  <select id="getGoodsSellPriceByProductId" resultMap="BaseResultMap" resultType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from prod_sell_info spi
    WHERE spi.product_id=#{productId,jdbcType=VARCHAR}
    AND spi.first_created=0
  </select>
 <!-- 检查该商品在该区域是否已经配置-->
  <select id="checkSellPriceInfo" resultType="java.lang.Integer" parameterType="com.yatang.sc.facade.domain.GoodsSellPriceQueryParamPo">
    SELECT COUNT(id) FROM prod_sell_info WHERE delete_status=0 AND product_id = #{productId,jdbcType=VARCHAR}
    <if test="branchCompanyId != null">
      AND branch_company_id =#{branchCompanyId,jdbcType=VARCHAR}
    </if>

  </select>
  <update id="deleteByPrimaryKey" parameterType="com.yatang.sc.facade.domain.SellPriceInfoPo" >
    update prod_sell_info
    set modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
      delete_status = #{deleteStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateSellPriceStatus" parameterType="com.yatang.sc.facade.domain.SellPriceInfoPo">
    UPDATE prod_sell_info
    SET modify_time = #{modifyTime,jdbcType=TIMESTAMP},
        modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER}
       WHERE id=#{id,jdbcType=BIGINT}
  </update>
  <!--根据商品id和子公司信息批量修改销售区域价状态-->
  <update id="prodBatchUpdate" parameterType="com.yatang.sc.facade.domain.ProdBatchParameterPo">
    UPDATE prod_sell_info set status=#{status,jdbcType=INTEGER},modify_user_id = #{userId,jdbcType=VARCHAR},
    modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    <where> delete_status=0 AND status!=#{status,jdbcType=INTEGER} AND branch_company_id = #{branchCompanyId,jdbcType=VARCHAR}
      AND product_id IN
      <foreach collection="productIds" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </where>
  </update>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.yatang.sc.facade.domain.SellPriceInfoPo">

    insert into prod_sell_info (product_id, lowest_price,
      create_time, create_user_id, status, delete_status,
      branch_company_id, branch_company_name, suggest_price,
      delivery_day, sales_inside_number, min_number,pre_harvest_pin_status,max_number,
      failed_reason,audit_user_id,audit_time,audit_status,first_created)
    values (#{productId,jdbcType=VARCHAR}, #{lowestPrice,jdbcType=DECIMAL},
      #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=VARCHAR},
     #{status,jdbcType=INTEGER}, #{deleteStatus,jdbcType=INTEGER},
      #{branchCompanyId,jdbcType=VARCHAR}, #{branchCompanyName,jdbcType=VARCHAR}, #{suggestPrice,jdbcType=DECIMAL},
      #{deliveryDay,jdbcType=INTEGER}, #{salesInsideNumber,jdbcType=INTEGER}, #{minNumber,jdbcType=INTEGER},
      #{preHarvestPinStatus,jdbcType=INTEGER},#{maxNumber,jdbcType=INTEGER},#{failedReason,jdbcType=VARCHAR},#{auditUserId,jdbcType=VARCHAR},
      #{auditTime,jdbcType=TIMESTAMP},#{auditStatus,jdbcType=INTEGER},#{firstCreated,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yatang.sc.facade.domain.SellPriceInfoPo" >

    insert into prod_sell_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="lowestPrice != null" >
        lowest_price,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUserId != null" >
        modify_user_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="deleteStatus != null" >
        delete_status,
      </if>
      <if test="branchCompanyId != null" >
        branch_company_id,
      </if>
      <if test="branchCompanyName != null" >
        branch_company_name,
      </if>
      <if test="suggestPrice != null" >
        suggest_price,
      </if>
      <if test="deliveryDay != null" >
        delivery_day,
      </if>
      <if test="salesInsideNumber != null" >
        sales_inside_number,
      </if>
      <if test="minNumber != null" >
        min_number,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="preHarvestPinStatus != null">
        pre_harvest_pin_status,
      </if>
      <if test="maxNumber != null">
        max_number,
      </if>
      <if test="failedReason != null">
        failed_reason,
      </if>
      <if test="auditUserId != null">
        audit_user_id,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="firstCreated != null">
        first_created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="lowestPrice != null" >
        #{lowestPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="branchCompanyId != null" >
        #{branchCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="branchCompanyName != null" >
        #{branchCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="suggestPrice != null" >
        #{suggestPrice,jdbcType=DECIMAL},
      </if>
      <if test="deliveryDay != null" >
        #{deliveryDay,jdbcType=INTEGER},
      </if>
      <if test="salesInsideNumber != null" >
        #{salesInsideNumber,jdbcType=INTEGER},
      </if>
      <if test="minNumber != null" >
        #{minNumber,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=VARCHAR},
      </if>
      <if test="preHarvestPinStatus != null" >
        #{preHarvestPinStatus,jdbcType=INTEGER},
      </if>
      <if test="maxNumber != null" >
        #{maxNumber,jdbcType=INTEGER},
      </if>
      <if test="failedReason != null">
        #{failedReason,jdbcType=VARCHAR},
      </if>
      <if test="auditUserId != null">
        #{auditUserId,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="firstCreated != null">
        #{firstCreated,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yatang.sc.facade.domain.SellPriceInfoPo" >
    update prod_sell_info
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="lowestPrice != null" >
        lowest_price = #{lowestPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="deleteStatus != null" >
        delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="suggestPrice != null" >
        suggest_price = #{suggestPrice,jdbcType=DECIMAL},
      </if>
      <if test="deliveryDay != null" >
        delivery_day = #{deliveryDay,jdbcType=INTEGER},
      </if>
      <if test="salesInsideNumber != null" >
        sales_inside_number = #{salesInsideNumber,jdbcType=INTEGER},
      </if>
      <if test="minNumber != null" >
        min_number = #{minNumber,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=VARCHAR},
      </if>
      <if test="preHarvestPinStatus != null" >
        pre_harvest_pin_status=#{preHarvestPinStatus,jdbcType=INTEGER},
      </if>
      <if test="maxNumber != null">
        max_number=#{maxNumber,jdbcType=INTEGER},
      </if>
      <if test="failedReason != null">
        failed_reason=#{failedReason,jdbcType=VARCHAR},
      </if>
      <if test="auditUserId != null">
        audit_user_id=#{auditUserId,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        audit_time=#{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null">
        audit_status=#{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="firstCreated != null">
        first_created=#{firstCreated,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yatang.sc.facade.domain.SellPriceInfoPo" >
    update prod_sell_info
    set product_id = #{productId,jdbcType=VARCHAR},
      lowest_price = #{lowestPrice,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      branch_company_id = #{branchCompanyId,jdbcType=VARCHAR},
      branch_company_name = #{branchCompanyName,jdbcType=VARCHAR},
      suggest_price = #{suggestPrice,jdbcType=DECIMAL},
      delivery_day = #{deliveryDay,jdbcType=INTEGER},
      sales_inside_number = #{salesInsideNumber,jdbcType=INTEGER},
      min_number = #{minNumber,jdbcType=INTEGER},
      sku_id = #{skuId,jdbcType=VARCHAR},
      pre_harvest_pin_status=#{preHarvestPinStatus,jdbcType=INTEGER},
      max_number=#{maxNumber,jdbcType=INTEGER},
      failed_reason=#{failedReason,jdbcType=VARCHAR},
      audit_user_id=#{auditUserId,jdbcType=VARCHAR},
      audit_time=#{auditTime,jdbcType=TIMESTAMP},
      audit_status=#{auditStatus,jdbcType=INTEGER},
      first_created=#{firstCreated,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getGoodsSellPriceByProductIdsAndCompanyId" resultMap="BaseResultMap" resultType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from prod_sell_info spi
    WHERE spi.delete_status=0 AND branch_company_id=#{branchCompanyId,jdbcType=VARCHAR}
    and product_id in
    <foreach collection="productIds" item="prod" open="(" close=")" separator=",">
    #{prod}
    </foreach>
  </select>


  <select id="getGoodsSellPriceInfo" parameterType="com.yatang.sc.facade.domain.GoodsSellPriceQueryParamPo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from prod_sell_info spi
    <where>
      spi.delete_status=0
      and spi.product_id=#{productId,jdbcType=VARCHAR}
      and spi.branch_company_id =#{branchCompanyId,jdbcType=VARCHAR}
    </where>
  </select>


  <delete id="deleteSellPriceByPrimaryKey">
    DELETE FROM prod_sell_info WHERE id = #{id,jdbcType=BIGINT}
  </delete>

  <!--app端 商品列表显示规格（查询销售内装数）yinyuxin -->
  <select id="querySaleInnerNumberForApp" resultMap="BaseResultMap">
    SELECT spi.sales_inside_number,spi.product_id
    FROM prod_sell_info spi
    WHERE 1=1
    AND spi.status=1
    AND spi.delete_status=0
    AND spi.first_created=0
    AND spi.branch_company_id=#{branchCompanyId,jdbcType=VARCHAR}
    <if test="productIds != null and productIds.size>0">
      AND spi.product_id IN
      <foreach collection="productIds" item="item" index="index" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </select>
</mapper>