<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yatang.sc.facade.dao.SupplierlicenseInfoDao">
    <resultMap id="BaseResultMap" type="com.yatang.sc.facade.domain.SupplierlicenseInfoPo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="regist_licence_number" property="registLicenceNumber" jdbcType="VARCHAR"/>
        <result column="legal_representative" property="legalRepresentative" jdbcType="VARCHAR"/>
        <result column="legal_repre_card_num" property="legalRepreCardNum" jdbcType="VARCHAR"/>
        <result column="legal_repre_card_pic1" property="legalRepreCardPic1" jdbcType="VARCHAR"/>
        <result column="legal_repre_card_pic2" property="legalRepreCardPic2" jdbcType="VARCHAR"/>
        <result column="license_loc_province" property="licenseLocProvince" jdbcType="VARCHAR"/>
        <result column="license_loc_city" property="licenseLocCity" jdbcType="VARCHAR"/>
        <result column="license_loc_county" property="licenseLocCounty" jdbcType="VARCHAR"/>
        <result column="license_loc_province_code" property="licenseLocProvinceCode" jdbcType="VARCHAR"/>
        <result column="license_loc_city_code" property="licenseLocCityCode" jdbcType="VARCHAR"/>
        <result column="license_loc_county_code" property="licenseLocCountyCode" jdbcType="VARCHAR"/>
        <result column="license_address" property="licenseAddress" jdbcType="VARCHAR"/>
        <result column="establish_date" property="establishDate" jdbcType="TIMESTAMP"/>
        <result column="start_date" property="startDate" jdbcType="TIMESTAMP"/>
        <result column="end_date" property="endDate" jdbcType="TIMESTAMP"/>
        <result column="perpetual_management" property="perpetualManagement" jdbcType="INTEGER"/>
        <result column="registered_capital" property="registeredCapital" jdbcType="DECIMAL"/>
        <result column="business_scope" property="businessScope" jdbcType="VARCHAR"/>
        <result column="regist_licence_pic" property="registLicencePic" jdbcType="VARCHAR"/>
        <result column="guarantee_money" property="guaranteeMoney" jdbcType="DECIMAL" />
        <result column="modify_id" property="modifyId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <association property="modification" javaType="com.yatang.sc.facade.domain.SupplierlicenseInfoPo"
                     column="modify_id" select="queryById"/>
    </resultMap>

    <sql id="Base_Column_List">
	    id, company_name, regist_licence_number, legal_representative, legal_repre_card_num, 
	    legal_repre_card_pic1, legal_repre_card_pic2, license_loc_province, license_loc_city,
	    license_loc_province_code,license_loc_city_code,license_loc_county_code,
	    license_loc_county, establish_date, start_date, end_date, perpetual_management, registered_capital, 
	    business_scope, regist_licence_pic, modify_id, status,guarantee_money,license_address
  </sql>

    <select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from sp_license_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sp_license_info
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insertSelective" parameterType="com.yatang.sc.facade.domain.SupplierlicenseInfoPo">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        insert into sp_license_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyName != null">
                company_name,
            </if>
            <if test="registLicenceNumber != null">
                regist_licence_number,
            </if>
            <if test="legalRepresentative != null">
                legal_representative,
            </if>
            <if test="legalRepreCardNum != null">
                legal_repre_card_num,
            </if>
            <if test="legalRepreCardPic1 != null">
                legal_repre_card_pic1,
            </if>
            <if test="legalRepreCardPic2 != null">
                legal_repre_card_pic2,
            </if>
            <if test="licenseLocProvince != null">
                license_loc_province,
            </if>
            <if test="licenseLocCity != null">
                license_loc_city,
            </if>
            <if test="licenseLocCounty != null">
                license_loc_county,
            </if>
            <if test="licenseLocProvinceCode != null">
                license_loc_province_code,
            </if>
            <if test="licenseLocCityCode != null">
                license_loc_city_code,
            </if>
            <if test="licenseLocCountyCode != null">
                license_loc_county_code,
            </if>
            <if test="licenseAddress != null">
                license_address,
            </if>
            <if test="establishDate != null">
                establish_date,
            </if>
            <if test="startDate != null">
                start_date,
            </if>
            <if test="endDate != null">
                end_date,
            </if>
            <if test="perpetualManagement != null">
                perpetual_management,
            </if>
            <if test="registeredCapital != null">
                registered_capital,
            </if>
            <if test="businessScope != null">
                business_scope,
            </if>
            <if test="registLicencePic != null">
                regist_licence_pic,
            </if>
            <if test="guaranteeMoney != null">
                guarantee_money,
            </if>
            <if test="modifyId != null">
                modify_id,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="registLicenceNumber != null">
                #{registLicenceNumber,jdbcType=VARCHAR},
            </if>
            <if test="legalRepresentative != null">
                #{legalRepresentative,jdbcType=VARCHAR},
            </if>
            <if test="legalRepreCardNum != null">
                #{legalRepreCardNum,jdbcType=VARCHAR},
            </if>
            <if test="legalRepreCardPic1 != null">
                #{legalRepreCardPic1,jdbcType=VARCHAR},
            </if>
            <if test="legalRepreCardPic2 != null">
                #{legalRepreCardPic2,jdbcType=VARCHAR},
            </if>
            <if test="licenseLocProvince != null">
                #{licenseLocProvince,jdbcType=VARCHAR},
            </if>
            <if test="licenseLocCity != null">
                #{licenseLocCity,jdbcType=VARCHAR},
            </if>
            <if test="licenseLocCounty != null">
                #{licenseLocCounty,jdbcType=VARCHAR},
            </if>
            <if test="licenseLocProvinceCode != null">
                #{licenseLocProvinceCode,jdbcType=VARCHAR},
            </if>
            <if test="licenseLocCityCode != null">
                #{licenseLocCityCode,jdbcType=VARCHAR},
            </if>
            <if test="licenseLocCountyCode != null">
                #{licenseLocCountyCode,jdbcType=VARCHAR},
            </if>
            <if test="licenseAddress != null">
                #{licenseAddress,jdbcType=VARCHAR},
            </if>
            <if test="establishDate != null">
                #{establishDate,jdbcType=TIMESTAMP},
            </if>
            <if test="startDate != null">
                #{startDate,jdbcType=TIMESTAMP},
            </if>
            <if test="endDate != null">
                #{endDate,jdbcType=TIMESTAMP},
            </if>
            <if test="perpetualManagement != null">
                #{perpetualManagement,jdbcType=INTEGER},
            </if>
            <if test="registeredCapital != null">
                #{registeredCapital,jdbcType=DECIMAL},
            </if>
            <if test="businessScope != null">
                #{businessScope,jdbcType=VARCHAR},
            </if>
            <if test="registLicencePic != null">
                #{registLicencePic,jdbcType=VARCHAR},
            </if>
            <if test="guaranteeMoney != null">
                #{guaranteeMoney,jdbcType=DECIMAL},
            </if>
            <if test="modifyId != null">
                #{modifyId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yatang.sc.facade.domain.SupplierlicenseInfoPo">
        update sp_license_info
        <set>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="registLicenceNumber != null">
                regist_licence_number = #{registLicenceNumber,jdbcType=VARCHAR},
            </if>
            <if test="legalRepresentative != null">
                legal_representative = #{legalRepresentative,jdbcType=VARCHAR},
            </if>
            <if test="legalRepreCardNum != null">
                legal_repre_card_num = #{legalRepreCardNum,jdbcType=VARCHAR},
            </if>
            <if test="legalRepreCardPic1 != null">
                legal_repre_card_pic1 = #{legalRepreCardPic1,jdbcType=VARCHAR},
            </if>
            <if test="legalRepreCardPic2 != null">
                legal_repre_card_pic2 = #{legalRepreCardPic2,jdbcType=VARCHAR},
            </if>
            <if test="licenseLocProvince != null">
                license_loc_province = #{licenseLocProvince,jdbcType=VARCHAR},
            </if>
            <if test="licenseLocCity != null">
                license_loc_city = #{licenseLocCity,jdbcType=VARCHAR},
            </if>
            <if test="licenseLocCounty != null">
                license_loc_county = #{licenseLocCounty,jdbcType=VARCHAR},
            </if>
            <if test="licenseLocProvinceCode != null">
                license_loc_province_code = #{licenseLocProvinceCode,jdbcType=VARCHAR},
            </if>
            <if test="licenseLocCityCode != null">
                license_loc_city_code = #{licenseLocCityCode,jdbcType=VARCHAR},
            </if>
            <if test="licenseLocCountyCode != null">
                license_loc_county_code = #{licenseLocCountyCode,jdbcType=VARCHAR},
            </if>
            <if test="licenseAddress != null">
                license_address = #{licenseAddress,jdbcType=VARCHAR},
            </if>
            <if test="establishDate != null">
                establish_date = #{establishDate,jdbcType=TIMESTAMP},
            </if>
            <if test="startDate != null">
                start_date = #{startDate,jdbcType=TIMESTAMP},
            </if>
            <if test="endDate != null">
                end_date = #{endDate,jdbcType=TIMESTAMP},
            </if>
            <if test="perpetualManagement != null">
                perpetual_management = #{perpetualManagement,jdbcType=INTEGER},
            </if>
            <if test="registeredCapital != null">
                registered_capital = #{registeredCapital,jdbcType=DECIMAL},
            </if>
            <if test="businessScope != null">
                business_scope = #{businessScope,jdbcType=VARCHAR},
            </if>
            <if test="registLicencePic != null">
                regist_licence_pic = #{registLicencePic,jdbcType=VARCHAR},
            </if>
            <if test="guaranteeMoney != null">
                guarantee_money = #{guaranteeMoney,jdbcType=DECIMAL},
            </if>
            <if test="modifyId != null">
                modify_id = #{modifyId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yatang.sc.facade.domain.SupplierlicenseInfoPo">
    update sp_license_info
    set company_name = #{companyName,jdbcType=VARCHAR},
      regist_licence_number = #{registLicenceNumber,jdbcType=VARCHAR},
      legal_representative = #{legalRepresentative,jdbcType=VARCHAR},
      legal_repre_card_num = #{legalRepreCardNum,jdbcType=VARCHAR},
      legal_repre_card_pic1 = #{legalRepreCardPic1,jdbcType=VARCHAR},
      legal_repre_card_pic2 = #{legalRepreCardPic2,jdbcType=VARCHAR},
      license_loc_province = #{licenseLocProvince,jdbcType=VARCHAR},
      license_loc_city = #{licenseLocCity,jdbcType=VARCHAR},
      license_loc_county = #{licenseLocCounty,jdbcType=VARCHAR},
      establish_date = #{establishDate,jdbcType=TIMESTAMP},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      perpetual_management = #{perpetualManagement,jdbcType=INTEGER},
      registered_capital = #{registeredCapital,jdbcType=DECIMAL},
      business_scope = #{businessScope,jdbcType=VARCHAR},
      regist_licence_pic = #{registLicencePic,jdbcType=VARCHAR},
      guarantee_money = #{guaranteeMoney,jdbcType=DECIMAL},
      modify_id = #{modifyId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="checkSupplierLicenseInfoByRegistLicenceNo"  parameterType="com.yatang.sc.facade.domain.SupplierlicenseInfoPo" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from sp_license_info
        <where>
            1=1
            <if test="registLicenceNumber != null">
                AND regist_licence_number = #{registLicenceNumber,jdbcType=VARCHAR}
            </if>
            <if test="id!=null">
                AND id!=#{id,jdbcType=INTEGER}
            </if>
            <if test="status == 1">
                AND (modify_id!=#{id,jdbcType=INTEGER} OR modify_id IS NULL)
            </if>
        </where>
    </select>
</mapper>