<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yatang.sc.facade.dao.SupplierSettledDao">
  <resultMap id="BaseResultMap" type="com.yatang.sc.facade.domain.SupplierSettledPo">
  	<result column="id" jdbcType="BIGINT" property="id" />
    <result column="purchase_receipt_no" jdbcType="VARCHAR" property="purchaseReceiptNo" />
    <result column="asn" jdbcType="VARCHAR" property="asn" />
    <result column="purchase_order_no" jdbcType="VARCHAR" property="purchaseOrderNo" />
    <result column="sp_no" jdbcType="VARCHAR" property="spNo" />
    <result column="sp_name" jdbcType="VARCHAR" property="spName" />
    <result column="sp_adr_no" jdbcType="VARCHAR" property="spAdrNo" />
    <result column="branch_company_code" jdbcType="VARCHAR" property="branchCompanyCode" />
    <result column="branch_company_name" jdbcType="VARCHAR" property="branchCompanyName" />
    <result column="adr_type" jdbcType="INTEGER" property="adrType" />
    <result column="adr_type_code" jdbcType="VARCHAR" property="adrTypeCode" />
    <result column="adr_type_name" jdbcType="VARCHAR" property="adrTypeName" />
    <result column="settlement_period" jdbcType="INTEGER" property="settlementPeriod" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="groups" jdbcType="VARCHAR" property="groups" />
    <result column="groups_desc" jdbcType="VARCHAR" property="groupsDesc" />
    <result column="dept" jdbcType="VARCHAR" property="dept" />
    <result column="dept_desc" jdbcType="VARCHAR" property="deptDesc" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="input_tax_rate" jdbcType="DECIMAL" property="inputTaxRate" />
    <result column="received_time" jdbcType="TIMESTAMP" property="receivedTime" />
    <result column="received_number" jdbcType="INTEGER" property="receivedNumber" />
    <result column="received_money_without_tax" jdbcType="DECIMAL" property="receivedMoneyWithoutTax" />
    <result column="received_money_with_tax" jdbcType="DECIMAL" property="receivedMoneyWithTax" />
  </resultMap>
  <insert id="insert" parameterType="com.yatang.sc.facade.domain.SupplierSettledPo">
    insert into supplier_settled (purchase_receipt_no, asn, purchase_order_no, 
      sp_no, sp_name, sp_adr_no, 
      branch_company_code, branch_company_name, adr_type, 
      adr_type_code, adr_type_name, settlement_period, 
      pay_type, groups, groups_desc, 
      dept, dept_desc, product_code, 
      product_name, input_tax_rate, received_time, 
      received_number, received_money_without_tax, 
      received_money_with_tax)
    values (#{purchaseReceiptNo,jdbcType=VARCHAR}, #{asn,jdbcType=VARCHAR}, #{purchaseOrderNo,jdbcType=VARCHAR}, 
      #{spNo,jdbcType=VARCHAR}, #{spName,jdbcType=VARCHAR}, #{spAdrNo,jdbcType=VARCHAR}, 
      #{branchCompanyCode,jdbcType=VARCHAR}, #{branchCompanyName,jdbcType=VARCHAR}, #{adrType,jdbcType=INTEGER}, 
      #{adrTypeCode,jdbcType=VARCHAR}, #{adrTypeName,jdbcType=VARCHAR}, #{settlementPeriod,jdbcType=INTEGER}, 
      #{payType,jdbcType=INTEGER}, #{groups,jdbcType=VARCHAR}, #{groupsDesc,jdbcType=VARCHAR}, 
      #{dept,jdbcType=VARCHAR}, #{deptDesc,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{inputTaxRate,jdbcType=DECIMAL}, #{receivedTime,jdbcType=TIMESTAMP}, 
      #{receivedNumber,jdbcType=INTEGER}, #{receivedMoneyWithoutTax,jdbcType=DECIMAL}, 
      #{receivedMoneyWithTax,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.yatang.sc.facade.domain.SupplierSettledPo">
    insert into supplier_settled
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="purchaseReceiptNo != null">
        purchase_receipt_no,
      </if>
      <if test="asn != null">
        asn,
      </if>
      <if test="purchaseOrderNo != null">
        purchase_order_no,
      </if>
      <if test="spNo != null">
        sp_no,
      </if>
      <if test="spName != null">
        sp_name,
      </if>
      <if test="spAdrNo != null">
        sp_adr_no,
      </if>
      <if test="branchCompanyCode != null">
        branch_company_code,
      </if>
      <if test="branchCompanyName != null">
        branch_company_name,
      </if>
      <if test="adrType != null">
        adr_type,
      </if>
      <if test="adrTypeCode != null">
        adr_type_code,
      </if>
      <if test="adrTypeName != null">
        adr_type_name,
      </if>
      <if test="settlementPeriod != null">
        settlement_period,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="groups != null">
        groups,
      </if>
      <if test="groupsDesc != null">
        groups_desc,
      </if>
      <if test="dept != null">
        dept,
      </if>
      <if test="deptDesc != null">
        dept_desc,
      </if>
      <if test="productCode != null">
        product_code,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="inputTaxRate != null">
        input_tax_rate,
      </if>
      <if test="receivedTime != null">
        received_time,
      </if>
      <if test="receivedNumber != null">
        received_number,
      </if>
      <if test="receivedMoneyWithoutTax != null">
        received_money_without_tax,
      </if>
      <if test="receivedMoneyWithTax != null">
        received_money_with_tax,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="purchaseReceiptNo != null">
        #{purchaseReceiptNo,jdbcType=VARCHAR},
      </if>
      <if test="asn != null">
        #{asn,jdbcType=VARCHAR},
      </if>
      <if test="purchaseOrderNo != null">
        #{purchaseOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="spNo != null">
        #{spNo,jdbcType=VARCHAR},
      </if>
      <if test="spName != null">
        #{spName,jdbcType=VARCHAR},
      </if>
      <if test="spAdrNo != null">
        #{spAdrNo,jdbcType=VARCHAR},
      </if>
      <if test="branchCompanyCode != null">
        #{branchCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="branchCompanyName != null">
        #{branchCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="adrType != null">
        #{adrType,jdbcType=INTEGER},
      </if>
      <if test="adrTypeCode != null">
        #{adrTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="adrTypeName != null">
        #{adrTypeName,jdbcType=VARCHAR},
      </if>
      <if test="settlementPeriod != null">
        #{settlementPeriod,jdbcType=INTEGER},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="groups != null">
        #{groups,jdbcType=VARCHAR},
      </if>
      <if test="groupsDesc != null">
        #{groupsDesc,jdbcType=VARCHAR},
      </if>
      <if test="dept != null">
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="deptDesc != null">
        #{deptDesc,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="inputTaxRate != null">
        #{inputTaxRate,jdbcType=DECIMAL},
      </if>
      <if test="receivedTime != null">
        #{receivedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receivedNumber != null">
        #{receivedNumber,jdbcType=INTEGER},
      </if>
      <if test="receivedMoneyWithoutTax != null">
        #{receivedMoneyWithoutTax,jdbcType=DECIMAL},
      </if>
      <if test="receivedMoneyWithTax != null">
        #{receivedMoneyWithTax,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>