<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yatang.sc.facade.dao.ZiptoftpInfoDao">
	<resultMap id="BaseResultMap" type="com.yatang.sc.facade.domain.ZiptoftpInfoPo">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="root_path" jdbcType="VARCHAR" property="rootPath" />
		<result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="effect_time" jdbcType="TIMESTAMP" property="effectTime" />
		<result column="invalid_time" jdbcType="TIMESTAMP" property="invalidTime" />
		<result column="activity_name" jdbcType="VARCHAR" property="activityName" />
		<result column="zip_name" jdbcType="VARCHAR" property="zipName" />
		<result column="upload_user_id" jdbcType="VARCHAR" property="uploadUserId" />
	</resultMap>
	<sql id="Base_Column_List">
		id, root_path, upload_time, description, effect_time, invalid_time,
		activity_name,
		zip_name, upload_user_id
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ziptoftp_info
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from ziptoftp_info
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.yatang.sc.facade.domain.ZiptoftpInfoPo"
		useGeneratedKeys="true" keyProperty="id">
		insert into ziptoftp_info (id, root_path, upload_time,
		description, effect_time, invalid_time,
		activity_name, zip_name, upload_user_id
		)
		values (#{id,jdbcType=INTEGER}, #{rootPath,jdbcType=VARCHAR},
		#{uploadTime,jdbcType=TIMESTAMP},
		#{description,jdbcType=VARCHAR}, #{effectTime,jdbcType=TIMESTAMP}, #{invalidTime,jdbcType=TIMESTAMP},
		#{activityName,jdbcType=VARCHAR}, #{zipName,jdbcType=VARCHAR},
		#{uploadUserId,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.yatang.sc.facade.domain.ZiptoftpInfoPo">
		insert into ziptoftp_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="rootPath != null">
				root_path,
			</if>
			<if test="uploadTime != null">
				upload_time,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="effectTime != null">
				effect_time,
			</if>
			<if test="invalidTime != null">
				invalid_time,
			</if>
			<if test="activityName != null">
				activity_name,
			</if>
			<if test="zipName != null">
				zip_name,
			</if>
			<if test="uploadUserId != null">
				upload_user_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="rootPath != null">
				#{rootPath,jdbcType=VARCHAR},
			</if>
			<if test="uploadTime != null">
				#{uploadTime,jdbcType=TIMESTAMP},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="effectTime != null">
				#{effectTime,jdbcType=TIMESTAMP},
			</if>
			<if test="invalidTime != null">
				#{invalidTime,jdbcType=TIMESTAMP},
			</if>
			<if test="activityName != null">
				#{activityName,jdbcType=VARCHAR},
			</if>
			<if test="zipName != null">
				#{zipName,jdbcType=VARCHAR},
			</if>
			<if test="uploadUserId != null">
				#{uploadUserId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yatang.sc.facade.domain.ZiptoftpInfoPo">
		update ziptoftp_info
		<set>
			<if test="rootPath != null">
				root_path = #{rootPath,jdbcType=VARCHAR},
			</if>
			<if test="uploadTime != null">
				upload_time = #{uploadTime,jdbcType=TIMESTAMP},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="effectTime != null">
				effect_time = #{effectTime,jdbcType=TIMESTAMP},
			</if>
			<if test="invalidTime != null">
				invalid_time = #{invalidTime,jdbcType=TIMESTAMP},
			</if>
			<if test="activityName != null">
				activity_name = #{activityName,jdbcType=VARCHAR},
			</if>
			<if test="zipName != null">
				zip_name = #{zipName,jdbcType=VARCHAR},
			</if>
			<if test="uploadUserId != null">
				upload_user_id = #{uploadUserId,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yatang.sc.facade.domain.ZiptoftpInfoPo">
		update ziptoftp_info
		set root_path = #{rootPath,jdbcType=VARCHAR},
		upload_time = #{uploadTime,jdbcType=TIMESTAMP},
		description = #{description,jdbcType=VARCHAR},
		effect_time = #{effectTime,jdbcType=TIMESTAMP},
		invalid_time = #{invalidTime,jdbcType=TIMESTAMP},
		activity_name = #{activityName,jdbcType=VARCHAR},
		zip_name = #{zipName,jdbcType=VARCHAR},
		upload_user_id = #{uploadUserId,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectZiptoftpInfoList" resultMap="BaseResultMap"
		parameterType="com.yatang.sc.facade.domain.ZiptoftpInfoPo">
		select
		<include refid="Base_Column_List" />
		from ziptoftp_info
		<where>
			<if test="id != null">
				and id= #{id,jdbcType=INTEGER},
			</if>
			<if test="rootPath != null">
				and root_path= #{rootPath,jdbcType=VARCHAR},
			</if>
			<if test="uploadTime != null">
				and upload_time=#{uploadTime,jdbcType=TIMESTAMP},
			</if>
			<if test="description != null">
				and description=#{description,jdbcType=VARCHAR},
			</if>
			<if test="effectTime != null">
				and effect_time=#{effectTime,jdbcType=TIMESTAMP},
			</if>
			<if test="invalidTime != null">
				and invalid_time=#{invalidTime,jdbcType=TIMESTAMP},
			</if>
			<if test="activityName != null">
				and activity_name=#{activityName,jdbcType=VARCHAR},
			</if>
			<if test="zipName != null">
				and zip_name=#{zipName,jdbcType=VARCHAR},
			</if>
			<if test="uploadUserId != null">
				and upload_user_id=#{uploadUserId,jdbcType=VARCHAR},
			</if>

		</where>

	</select>
</mapper>